.filters {
  background-color: #f8f9f9;
  box-shadow: inset -4px 0 16px -9px rgba(0, 0, 0, 0.5);
}
.summary-content {
  text-align: left; max-height: 400px; overflow: auto;
  background-color: #f2f2f2;
  border:1px #f2f2f2;
}

:host /deep/ .ui-tree .ui-tree-container {
  overflow: hidden;
}

.glimpse-content{
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 10*1.4*3; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: 1.4em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
margin-bottom: 5px;
  font-weight: normal;
  color: gray;
  font-style: italic;
  font-size: 14px;
}

.badge {
  background-color: gray;
}
#search-page{
  padding-bottom:100px;
}

.style-horizontal {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.style-vertical {
  border-left: thick solid #ff0000;
}

.background-white
{
  background-color:#ffffff;
}

.white
{
  color:#ffffff;
}

.background-blue
{
  background-color :#2c539e;
}

.background-black
{
  background-color:#000000;
}

.content-center
{
  justify-content:left;
  display:flex
}

.cyan-blue
{
  color: #2d9de7;
}

.custblack
{
  color: #000000;
}

.custbutton
{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
  background: #2c539e; /* Old browsers */
  background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
}

.sidebar-box {
  max-height: 100px;
  position: relative;
  overflow: hidden;
}
.sidebar-box .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0; padding: 30px 0;

  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, black);
}

.divExpCSV
{
  float:right;
  margin-top: 10px;
}

.spanResults
{
  float: left;
  color: #000000;
  margin-top: 20px;
}

.landingPageBackground
{
  background-color:#2C539E;
}

.summaryPageBackground
{
  background-color: #595959;
}

.title
{
  color:#1471AE;
  font-size: 15px;
}

.ui-tree .ui-tree-container {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: .25em;
  word-break: break-all;
  hyphens: auto;}

.ui-tree .ui-treenode-label {
  padding: 0 .25em;
  vertical-align: middle;
}

.custWhite {
  color: #FFFFFF;
  height:42px;
  background-color: #FFFFFF;
  margin-top: 0;
  margin-left: 0; }

/* Icon when the collapsible content is shown */
.btn:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
}
/* Icon when the collapsible content is hidden */
.btn.collapsed:after {
  content: "\e080";
}

/* Icon when the collapsible content is shown */
.btn:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
}
/* Icon when the collapsible content is hidden */
.btn.collapsed:after {
  content: "\e080";
}

.btnlarge:after {
  font-family: "Glyphicons Halflings";
  content: "\e080";
}

.btnlarge.collapsed:after {
  font-family: "Glyphicons Halflings";
  content: "\e079";
}

.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

}

.searchColor {
  background-color: #EFEFEF;
}

.btn-sm {
 /* background-color: #696666;*/
}

.examples {
  color: #0f4a65;
  text-decoration: underline;
}

.background-gray {
  background-color: #EFEFEF;
}

.searchButton{
  background-color:#0872B9;
  width: 100%;
  height: 42px;
  font-weight: 900;
  font-size: 18px;
  border-radius: 0px;
  border-radius-topright: 5px;
  border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

.searchButton:hover{
  background-color:#1F5593;
}

background-cyanblue {
  background-color: #0872b9;
}

:host /deep/ .breadcrumb {
  background-color: #fff;
}
