<style id="antiClickjack">
  body {
    display: none !important;
  }
</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>
<head>
  <script async type="text/javascript" id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOC&subagency=NIST&pua=UA-66610693-14&yt=true&exts=ppsx,pps,f90,sch,rtf,wrl,txz,m1v,xlsm,msi,xsd,f,tif,eps,mpg,xml,pl,xlt,c"></script>
</head>

<p-messages [value]="msgs"></p-messages>
<div *ngIf="noResults">
  <div class="EmptyBox100"></div>
  <div class="EmptyBox100"></div>
</div>

<div *ngIf="!noResults">
  <div class="ui-fluid"  style="background-color: #EFEFEF">
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-2">
          </div>
          <div class="ui-g-12 ui-md-4" style="padding-right: 0px;padding-left: 0px;padding-bottom: 0px">
            <div class="well-sm inner-addon left-addon " [hidden]="!textRotate" (click) = "toggleTextRotate()" style="background-color: #FFFFFF;border:1px solid;height: 42px;
      font-weight: 400;font-style: italic;font-size: 16px;padding: .5em;border-color: #bdbdbd;border-width: 1px 1px 1px 1px;border-radius: 0px;vertical-align: middle;"  >
              <i class="glyphicon glyphicon-search"></i><span class="element" style="color: gray;vertical-align:middle;border-color: #bdbdbd;padding-left:40px;border-width: 1px 1px 1px 1px;">
        Kinetics database |Gallium|"SRD 69" | XPDB | Interatomic Potentials
            </span>
            </div>
            <div class="inner-addon left-addon element " style="background-color: #FFFFFF" [hidden]="textRotate" >
              <i class="glyphicon glyphicon-search"></i><p-autoComplete [inputStyle]="{'width': '100%','padding-left':'40px','height': '42px','font-weight': '400',
        'font-style': 'italic','font-size': '20px'}"   [(ngModel)]="searchValue"  (keyup.enter) = "search(searchValue,searchTaxonomyKey,queryAdvSearch)" [suggestions]="suggestedTaxonomyList" (completeMethod)="filterTaxonomies($event)" [minLength]="1" [maxlength] = "30" [size] = "50" >
            </p-autoComplete>
            </div>
          </div>
          <div class="ui-g-12 ui-md-2" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px">
            <p-dropdown [options]="taxonomies"  [style]="{'width':'100%','padding-top': '.5em',
        'background-color': '#FFFFFF','height': '42px'
        ,'font-weight': '400','font-style': 'italic',
          'font-size': '14px'}" [(ngModel)]="searchTaxonomyKey" >
            </p-dropdown>
          </div>
          <div class="ui-g-12 ui-md-1" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px">
            <button style="width: 100%;height: 42px;font-weight: 400;font-style: italic;
          font-size: 18px;border-radius: 0px" (click)="search(searchValue,searchTaxonomyKey,queryAdvSearch)" pButton label="Search" type="submit" ></button>          </div>
          <div class="ui-g-12 ui-md-2">
            &nbsp;&nbsp;<a href="#!" [routerLink] = "['/advanced']" style="text-decoration: underline;display:table-cell;vertical-align: middle"> Advanced Search </a>
          </div>
        </div>
        <div class="ui-g-12 ui-md-2">
        </div>
        <div class="ui-g-12 ui-md-6">
          <a id= "examples" style="color: #000;" href = "#" (click) = "showDialog()" > <b> Examples: </b></a>
          <a (click)="searchExample('&quot;Kinetics database&quot;');" href="#!" style="color: #2fa9e0;text-decoration: underline;">"Kinetics database" </a> &nbsp;
          <a (click)="searchExample('Gallium');" href="#!" style="color: #2fa9e0;text-decoration: underline;">Gallium </a>&nbsp;
          <a (click)="searchExample('&quot;SRD 69&quot;');" href="#!" style="color: #2fa9e0;text-decoration: underline;">"SRD 69" </a>&nbsp;
          <a (click)="searchExample('XPDB');" href="#!" style="color: #2fa9e0;text-decoration: underline;">XPDB </a>&nbsp;
          <a (click)="searchExample('Interatomic Potentials');" href="#!" style="color: #2fa9e0;text-decoration: underline;">Interatomic Potentials </a>&nbsp;
        </div>
      </div>
    </div>

    <div *ngIf="filteredResults.length > 0">
    <div class="ui-g " style="background-color: #F8F9F9;box-shadow: inset -2px 0 16px -9px rgba(0, 0, 0, 0.5)" >
      <div class="ui-g-12 ui-md-4 ui-lg-3 " style="background-color: #F8F9F9;padding: 0px 0px 0px 0px;box-shadow: inset -2px 0 16px -9px rgba(0, 0, 0, 0.5)"  >
        <div class="ui-g" style="padding: 0px;" >
          <div class="ui-g-12" style="padding: 0px;box-shadow: inset -2px 0 16px -9px rgba(0, 0, 0, 0.5)" >
            <div style="background-color: #03A9F4;border-bottom:.5px solid #cccccc;width: 100%;padding: .625em;box-shadow: inset -2px 0 16px -9px rgba(0, 0, 0, 0.5)">
              <label style="font-size: 16px;background-color: #03A9F4;color: #FFFFFF;">Filter </label>
              <a href="#!" style="float: right;padding-right: 2em;vertical-align: middle;color: #FFFFFF" (click)="clearFilters()" >
                <i style="vertical-align: middle;zoom: 80%" class="material-icons"> clear
                </i>Clear All</a>
            </div>
            <div style="border-bottom:.5px solid #cccccc;box-shadow: inset -2px 0 16px -9px rgba(0, 0, 0, 0.5)">
              <p-tree header="test" [value]="themesTree" selectionMode="checkbox"
                      [style]="{'width':'100%','font-size': '12px','overflow':'hidden','padding-top': '.5em',
                        'height': 'auto','padding-bottom': '.5em',
                        'background-color': '#F8F9F9'}" [(selection)]="selectedThemesNode"
                      (onNodeUnselect)="filterResults($event)" (onNodeSelect)="filterResults($event)" (onNodeExpand)="nodeExpand($event)" (onNodeCollapse)="nodeCollapse($event)" >
                <template let-node  pTemplate="default">
                  <span> {{node.label.split("-")[0]}}&nbsp;</span>
                  <span class="badge" *ngIf = "node.label.split('-')[1] !=''" > {{node.label.split("-")[1]}}</span>
                </template>
              </p-tree>
              <div style="background-color: #F8F9F9;box-shadow: inset -2px 0 16px -9px rgba(0, 0, 0, 0.5)" *ngIf="showMoreResearchTopics == false && nodeExpanded == true && showMoreLink == true">
                <a href="#!" (click)="showMoreResTopics()" style="font-size: 14px;background-color: #F8F9F9;box-shadow: inset -2px 0 16px -9px rgba(0, 0, 0, 0.5);padding-left: 50px;">Show More</a>
              </div>
              <div style="background-color: #F8F9F9;box-shadow: inset -2px 0 16px -9px rgba(0, 0, 0, 0.5)" *ngIf="showMoreResearchTopics == true && nodeExpanded == true && showMoreLink == true">
                <a href="#!" (click)="showLessResTopics()" style="font-size: 14px;background-color: #F8F9F9;box-shadow: inset -2px 0 16px -9px rgba(0, 0, 0, 0.5);padding-left: 50px;">Show Less</a>
              </div>
            </div>
            <div style="border-bottom:.5px solid #cccccc;width: 100%;'box-shadow': 'inset -2px 0 16px -9px rgba(0, 0, 0, 0.5)'">
              <p-tree [value]="componentsTree" selectionMode="checkbox"
                      [style]="{'width':'auto','font-size': '12px','padding-top': '.5em','box-shadow': 'inset -2px 0 16px -9px rgba(0, 0, 0, 0.5)','padding-right': '.5em',
                          'padding-bottom': '.5em','background-color': '#F8F9F9'}"
                      [(selection)]="selectedComponentsNode" (onNodeUnselect)="filterResults($event)"
                      (onNodeSelect)="filterResults($event)" >
                <template let-node  pTemplate="default">
                      <span> {{node.label.split("-")[0]}}&nbsp;</span>
                      <span class="badge" *ngIf = "node.label.split('-')[1] !=''" > {{node.label.split("-")[1]}}</span>
                </template>
              </p-tree>
            </div>
            <div class="ui-g-10" style="padding: 0px;" >
              <div style="background-color:#F8F9F9;width: 100%;padding-left: 1em;padding-top:1em;">
                <label style="font-size: 14px;"><b>Authors and Contributors</b></label>
              </div>
              <div style="background-color: #F8F9F9;padding-left:15px;padding-right:1.0em;">
                <p-autoComplete id="author" [(ngModel)]="selectedAuthor"  [suggestions]="suggestedAuthors"
                                (completeMethod)="filterAuthors($event)"
                                [multiple] = "true"
                                (onSelect)="filterResults($event)"
                                (onUnselect)="filterResults($event)"
                                [minLength]="1" [maxlength] = "30" [style]="{'width':'100%',
                              'background-color': '#FFFFFF','font-weight': '400','height':'30px',
                              'font-style': 'italic','font-size': '14px'}">
                </p-autoComplete>
              </div>
            </div>
          </div>
          <div class="ui-g-10" style="padding: 0px;" >
            <div style="background-color:#F8F9F9;width: 100%;padding-left: 1em;padding-top:1em;">
              <label style="font-size: 14px;"><b>Keyword</b></label>
            </div>
            <div style="background-color: #F8F9F9;padding-left:15px;padding-right:1.0em;">
              <p-autoComplete id="keyword" [(ngModel)]="selectedKeywords"  [suggestions]="suggestedKeywords"
                              (completeMethod)="filterKeywords($event)"
                              [multiple] = "true"
                              (onSelect)="filterResults($event)"
                              (onUnselect)="filterResults($event)"
                              [minLength]="1" [maxlength] = "30" [style]="{'width':'100%',
                              'background-color': '#FFFFFF','font-weight': '400','height':'30px',
                              'font-style': 'italic','font-size': '14px'}">
              </p-autoComplete>
            </div>
          </div>
        </div>
      </div>

      <!-- Section 1 -->
      <div class="ui-g-12 ui-md-6 ui-lg-9 " style="padding: 0px;background-color: #FFFFFF">
      <p-dataList [value]="filteredResults" #results responsive = "true" [paginator]="true" paginatorPosition = "top" [rows]="5"
                  [style]="{'padding-right': '.5em','height':'auto'}">
        <p-header >
          <div class="ui-g ui-grid-responsive" style="padding: 0em;">
            <div class="ui-g-12" style="padding: 0em">
              <div class="ui-g-12 ui-md-6">
                <div style="color: gray;font-size: 25px;font-weight: lighter;font-family: 'Lato',Arial,sans-serif;float: left;padding-top: 10px;"> &nbsp;&nbsp;{{filteredResults.length}} records found</div>
              </div>
              <div class="ui-g-12 ui-md-6">
                <div style="font-size: 25px;font-weight: lighter;font-family: 'Lato',Arial,sans-serif;float: right;
          padding-right:10px;padding-top: 10px">
                      <p-dropdown
                      [options]="fields" [(ngModel)]="sortItemKey" placeholder="Sortable Fields" (onChange) = "SortByFields()"
                      [style]="{'width':'200px','background-color': '#FFFFFF','font-weight': '400','font-style': 'italic',
            'font-size': '14px','float':'right'}">
                      </p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </p-header>
        <template let-resultItem pTemplate="item">
          <div class="ui-g ui-grid-responsive" style="padding:10px;border-bottom:1px solid #D5D5D5;">
            <div class="ui-grid-row nowrap">
              <div class="ui-grid-col-12">
                <div class="ui-grid ui-grid-responsive" style="text-align: left;">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-12" ><b><a href="javascript:;" class="title" (click)="encodeString(PDRAPIURL,resultItem['@id'])" >
                      {{resultItem.title}}</a></b></div>
                  </div>
                  <read-more [text]="resultItem.description" [maxLength]="240" ></read-more>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-12"><b>Keywords: </b> <i style="color: gray;"> <read-more [text]="resultItem.keyword.join(', ')" [maxLength]="102" ></read-more>
                    </i>
                  </div>
                  </div>
                  <div class="ui-grid-row" *ngIf="resultItem.doi !=null">
                    <div class="ui-grid-col-1"><b>DOI: </b> </div>
                    <div class="ui-grid-col-11" style="color:#1471AE;">{{resultItem.doi}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                      <a [(href)]="resultItem.landingPage" target="_blank">
                      <button (click)="search(searchValue,searchTaxonomyKey)" pButton label="Visit Home Page"
                              type="button" icon="ui-icon-launch" style="font-size: small;background-color: #277E2F"></button></a>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </p-dataList>
      </div>
    </div>
    </div>
</div>
