/* @font-face {
  font-family: Roboto;
  src: url('/assets/fonts/roboto-v15-latin-300.ttf') format("truetype");
} */
/* 
* {
  font-family: sans-serif;
} */

:root {
    /* Colors */
    --science-theme-background-default: #019fbb;
    --science-theme-background-light: #f5fbfd;
    --science-theme-background-light2: #e3f7fd;
    --science-theme-background-blue: #017abb;
    --science-theme-background-blue-hover: #2db2fa;
    --nist-green-default: #257a2d;
    --nist-green-dark: #1c6022;
    --nist-green-light: #6bad73;
    --nist-blue-default: #12659c;
    --nist-blue-dark: #0c4870;
    --nist-blue-light: #197dc0;
    --background-light-grey: #f3f3f3;
    --background-mid-grey: #c9c9c9;
}

/* You can add global styles to this file, and also import other style files */
a:link {
  color: #1E6BA1;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #551A8B;
  background-color: transparent;
  text-decoration: none;
}

.link-text {
    color: #1E6BA1;
    text-decoration: underline; 
    white-space: nowrap;
    cursor: pointer;
}

.link-text-white {
    color: white;
    text-decoration: underline; 
    white-space: nowrap;
    cursor: pointer;
}

.inner-addon {
    position: relative;
}

.myCustomModalClass .modal-dialog {
    max-width: 565px;
}

.nist-green-b {
    background-color: #257a2d;
}

.nist-green-f {
    color: #257a2d;
}

.nist-blue-b {
    background-color: #12659c;
}

.nist-blue-f {
    color: #12659c;
}