
        <div class="Animated05" id="layout-menu-cover">
            <ul id="menu" class="layout-menu ShadowEffect modena-menu">
                <li role="menuitem"><a class="menulink ripplelink" [routerLink]="['/']"><i class="icon-null"></i><i class="icon-home"></i>Home</a></li>
                <li role="menuitem">
                    <a href="#" class="menulink ripplelink"><i class="icon-null"></i><i class="icon-store"></i>Data</a>
                    <ul role="menu">
                        <li role="menuitem"><a class="menulink ripplelink" target = "_blank" href="http://webbook.nist.gov/chemistry" ><i class="icon-null"></i><i class="icon-domain"></i>Chemistry WebBook</a></li>
                        <li role="menuitem"><a class="menulink ripplelink" href="http://csrc.nist.gov/groups/SNS/nvd/" target="_blank" ><i class="icon-null"></i><i class="icon-domain"></i>National Vulnerability Database</a></li>
                        <li role="menuitem"><a class="menulink ripplelink" href="https://www.nist.gov/pml/productsservices/physical-reference-data" target="_blank" ><i class="icon-null"></i><i class="icon-domain"></i>Physical Reference Data</a></li>
                        <li role="menuitem"><a class="menulink ripplelink" href="https://www.nist.gov/srd" target="_blank"><i class="icon-null"></i><i class="icon-domain"></i>Standard Reference Data (SRD)</a></li>
                     </ul>
                </li>
                <li role="menuitem"><a class="menulink ripplelink" [routerLink]="['/about']"><i class="icon-null"></i><i class="icon-info"></i>About NIST Data</a></li>
                <li role="menuitem"><a class="menulink ripplelink" [routerLink]="['/code_repo']"><i class="icon-null"></i><i class="icon-code"></i>Code Repository</a></li>
                <li role="menuitem"><a class="menulink ripplelink" [routerLink]="['/api']"><i class="icon-null"></i><i class="fa fa-jsfiddle"></i>API</a></li>
                <li role="menuitem"><a class="menulink ripplelink" [routerLink]="['/faq']"><i class="icon-null"></i><i class="icon-question_answer"></i>FAQ</a></li>
                <li class="Separator"></li>
            </ul>
        </div>