<div
  [@filterExpand]="
    mobileMode ? 'expanded' : isActive ? 'expanded' : 'collapsed'
  "
  [ngStyle]="{ width: mobileMode ? '100%' : filterWidthNum + 'px' }"
  style="background-color: white"
>
  <div
    class="normalFilter"
    [hidden]="!isActive && !mobileMode"
    id="activeFilter"
    style="height: auto; padding-bottom: 1em"
  >
    <div style="padding: 0px">
      <!-- Filter header -->
      <div id="filterHeader" *ngIf="isActive || mobileMode">
        <a
          id="filtersLabel"
          class="btn-sm collapsed in"
          (click)="setFilterWidth()"
          data-toggle="collapse"
          style="border-color: #025277; color: #fff; padding: 0em; border: 0em; cursor: pointer"
          data-target="#demo"
          ><span *ngIf="filterWidthNum > 170">Filters </span
          ><i
            [ngClass]="getFilterImgClass()"
            style="zoom: 100%; color: #fff; cursor: pointer"
          ></i
        ></a>

        <a
          href="#"
          id="clear-all"
          data-toggle="tooltip"
          title="Clear all filters"
          (click)="$event.preventDefault(); clearFilters()"
        >
          <i
            style="vertical-align: middle; zoom: 70%; margin-right: 0.3em"
            class="faa faa-remove"
          >
          </i
          ><span *ngIf="filterWidthNum > 170">Clear All</span></a
        >
      </div>

      <!-- Filter body -->
      <!-- Display spinner while waiting for search result -->
      <div class="spinner" *ngIf="searching">
        <i
          class="faa faa-spinner faa-spin faa-stack-2x"
          style="color: #1e6ba1"
          aria-hidden="true"
        ></i>
      </div>

  <div *ngIf="isActive && !searching && fullFacetCountsComplete">
        <!-- NIST Research topics with skeleton -->
  <div class="bottom-line compact-filter topics-block">
          <ng-container *ngIf="!themeLoading; else themeSkeleton">
            <div class="filter-checkbox">
              <div
                [@expand]="
                  nodeExpanded
                    ? showMoreLink
                      ? 'collapsed'
                      : 'expanded'
                    : 'closed'
                "
              >
                <div [ngClass]="{'topics-scroll': showMoreLink}" >
                <p-tree
                  id="themes"
                  [value]="themesTree"
                  selectionMode="checkbox"
                  [style]="researchTopicStyle"
                  [(selection)]="selectedThemesNode"
                  (onNodeUnselect)="filterResults()"
                  (onNodeSelect)="filterResults()"
                  (onNodeExpand)="showMoreLink = true; nodeExpanded = true"
                  (onNodeCollapse)="nodeExpanded = false"
                >
                  <ng-template let-node pTemplate="default">
                    <div
                      class="text-nowrap"
                      style="color: black"
                      data-toggle="tooltip"
                      [title]="filterTooltip(node)"
                    >
                      <span *ngIf="node.label.split('-')[1] != ''; else header1">
                        {{ node.label.split('-')[0] }}&nbsp;
                        <p-tag severity="success">
                          <span>{{ node.label.split('-')[1] }}</span>
                        </p-tag>
                      </span>
                      <ng-template #header1>
                        <b style="font-size: 16px">{{ node.label.split('-')[0] }}&nbsp;</b>
                      </ng-template>
                    </div>
                  </ng-template>
                </p-tree>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #themeSkeleton>
            <div class="facet-skeleton-group">
              <div class="facet-skel header"></div>
              <div class="facet-skel line w50"></div>
              <div class="facet-skel line w40"></div>
              <div class="facet-skel line w30"></div>
            </div>
          </ng-template>
          <div *ngIf="!themeLoading && themesTree && themesTree.length && themesTree[0]?.children.length > 5"
               class="facet-more-center">
            <button
              class="facet-more-btn dark"
              (click)="toggleExpand(showMoreLink)"
              type="button"
              aria-label="Toggle additional research topics"
            >
              <span class="chev" [class.expanded]="!showMoreLink" aria-hidden="true">
                <svg width="10" height="10" viewBox="0 0 10 10" focusable="false" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.2 3.2L5 7l3.8-3.8-.9-.9L5 5.3 2.1 2.3z" fill="currentColor"/>
                </svg>
              </span>
              <span *ngIf="showMoreLink">Show More</span>
              <span *ngIf="!showMoreLink">Show Less</span>
            </button>
          </div>
        </div>
        </div>

  <!-- Removed invalid theme check: 'theme' property does not exist. If conditional display needed later, add a proper flag. -->
  <div style="width: 100%" *ngIf="false"></div>

        <div style="width: 100%">
          <div
            [@expandOptions]="MoreOptionsDisplayed ? 'collapsed' : 'expanded'"
          >
            <!-- Resource type with skeleton -->
            <div class="bottom-line compact-filter">
              <ng-container *ngIf="!resourceTypeLoading; else resourceTypeSkeleton">
                <p-tree
                  [value]="resourceTypeTree"
                  selectionMode="checkbox"
                  [style]="ResourceTypeStyle"
                  [(selection)]="selectedResourceTypeNode"
                  (onNodeUnselect)="filterResults()"
                  (onNodeSelect)="filterResults()"
                  (onNodeExpand)="showMoreLink = true; nodeExpanded = true"
                  (onNodeCollapse)="nodeExpanded = false"
                >
                  <ng-template let-node pTemplate="default">
                    <div
                      class="text-nowrap"
                      style="color: black"
                      data-toggle="tooltip"
                      [title]="filterTooltip(node)"
                    >
                      <span *ngIf="node.label.split('-')[1] != ''; else header1">
                        {{ node.label.split('-')[0] }}&nbsp;
                        <p-tag severity="success">
                          <span>{{ node.label.split('-')[1] }}</span>
                        </p-tag>
                      </span>
                      <ng-template #header1>
                        <b>{{ node.label.split('-')[0] }}&nbsp;</b>
                      </ng-template>
                    </div>
                  </ng-template>
                </p-tree>
              </ng-container>
              <ng-template #resourceTypeSkeleton>
                <div class="facet-skeleton-group">
                  <div class="facet-skel header"></div>
                  <div class="facet-skel line w40"></div>
                  <div class="facet-skel line w30"></div>
                </div>
              </ng-template>
            </div>

            <!-- Components (Record Has) with skeleton -->
            <div class="compact-filter">
              <div class="bottom-line compact-filter">
                <ng-container *ngIf="!recordHasLoading && componentsTree.length > 0; else recordHasSkeleton">
                  <p-tree
                    [value]="componentsTree"
                    selectionMode="checkbox"
                    [style]="researchTopicStyle"
                    [(selection)]="selectedComponentsNode"
                    (onNodeUnselect)="filterResults()"
                    (onNodeSelect)="filterResults()"
                    (onNodeExpand)="showMoreLink = true; nodeExpanded = true"
                    (onNodeCollapse)="nodeExpanded = false"
                  >
                    <ng-template let-node pTemplate="default">
                      <div
                        class="text-nowrap"
                        style="color: black"
                        data-toggle="tooltip"
                        [title]="filterTooltip(node)"
                      >
                        <span *ngIf="node.label.split('-')[1] != ''; else header1">
                          {{ node.label.split('-')[0] }}&nbsp;
                          <p-tag severity="success">
                            <span>{{ node.label.split('-')[1] }}</span>
                          </p-tag>
                        </span>
                        <ng-template #header1>
                          <b>{{ node.label.split('-')[0] }}&nbsp;</b>
                        </ng-template>
                      </div>
                    </ng-template>
                  </p-tree>
                </ng-container>
                <ng-template #recordHasSkeleton>
                  <div class="facet-skeleton-group">
                    <div class="facet-skel header"></div>
                    <div class="facet-skel line w50"></div>
                    <div class="facet-skel line w40"></div>
                    <div class="facet-skel line w30"></div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>

          <!-- Authors and Contributors (with skeleton) -->
          <div style="margin-top: -15px">
            <ng-container *ngIf="!themeLoading; else authorsSkeleton">
              <div class="lbl-filter">
                <label><b>Authors and Contributors</b></label>
              </div>
              <div class="filter-input p-fluid">
                <p-autoComplete
                  [(ngModel)]="selectedAuthor"
                  inputId="suggestedauthor"
                  [suggestions]="suggestedAuthors"
                  (completeMethod)="filterAuthors($event)"
                  (onSelect)="filterResults()"
                  (onUnselect)="filterResults()"
                  [multiple]="true"
                  [minLength]="1"
                  [maxlength]="30"
                  [inputStyle]="{ width: '100%', color: 'black' }"
                >
                  <ng-template let-author pTemplate="item">
                    <div style="margin-left: 40px">{{ author }}</div>
                  </ng-template>
                </p-autoComplete>
              </div>
            </ng-container>
            <ng-template #authorsSkeleton>
              <div class="facet-skeleton-group" style="margin-left:2em; margin-top:1em;">
                <div class="facet-skel header" style="width:40%"></div>
                <div class="facet-skel line w50"></div>
                <div class="facet-skel line w30"></div>
              </div>
            </ng-template>
          </div>

          <!-- Keywords (with skeleton) -->
          <div style="margin-top: -15px; margin-bottom: 30px;">
            <ng-container *ngIf="!themeLoading; else keywordSkeleton">
              <div class="lbl-filter">
                <label><b>Keyword</b></label>
              </div>
              <div class="filter-input p-fluid">
                <p-autoComplete
                  inputId="keyword"
                  [(ngModel)]="selectedKeywords"
                  [suggestions]="suggestedKeywords"
                  (completeMethod)="updateSuggestedKeywords($event)"
                  [multiple]="true"
                  (onSelect)="filterResults()"
                  (onUnselect)="filterResults()"
                  [minLength]="1"
                  [maxlength]="30"
                  [style]="filterStyle"
                  [inputStyle]="{ width: '100%', color: 'black' }"
                >
                  <ng-template let-keyword pTemplate="item">
                    <div
                      data-toggle="tooltip"
                      [title]="suggestedKeywordsLkup[keyword]"
                      style="margin-left: 40px"
                    >
                      {{ keyword }}
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>
            </ng-container>
            <ng-template #keywordSkeleton>
              <div class="facet-skeleton-group" style="margin-left:2em; margin-top:1em;">
                <div class="facet-skel header" style="width:35%"></div>
                <div class="facet-skel line w50"></div>
                <div class="facet-skel line w40"></div>
                <div class="facet-skel line w30"></div>
              </div>
            </ng-template>
          </div>

        </div> <!-- /width:100% wrapper -->
      </div> <!-- /padding wrapper -->
    </div> <!-- /normalFilter -->
  </div> <!-- /root filterExpand container -->

  <!-- Optional placeholder while full facet counts load -->
  <div *ngIf="isActive && !searching && !fullFacetCountsComplete" class="facet-loading-placeholder" style="padding:1em; font-size:12px; color:#555;">
    Loading filters…
  </div>
