


<!-- Left Column -->
<div class="Container100 background-white" >
    <div class="Container100 Responsive100" >

        <div class="Container background-white" *ngIf="summaryPageOpen == true">
       <div class="EmptyBox20"></div>
        <h1 class="FontRobotoRegular Fs30 black TexAlCenter">SCIENCE DATA PORTAL</h1>
        <div class="EmptyBox20"></div>

        <div *ngFor="let summaryCandidate of filteredResults">
            <p-tabView>
                <p-tabPanel header="Summary" >
                    <div class="ui-grid ui-grid-responsive  ui-grid-forms ui-fluid ui-grid-pad ">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"><b>Title</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.title}}
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label"><b>Description</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.description}}
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label "><b>Keywords</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.keyword}}
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label"><b>Last Updated Date</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.modified}}
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label"><b>Home Page URL</b>
                            </div>
                            <div class="ui-grid-col-10">
                                <a target="_blank" [(href)]="summaryCandidate.landingPage">{{summaryCandidate.landingPage}}</a>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Contact" >
                    <div class="ui-grid ui-grid-responsive  ui-grid-forms ui-fluid ui-grid-pad ">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label"><b>Contact</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.contactPoint.fn}}
                            </div>
                        </div>            
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"><b>Contact Email</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.contactPoint.hasEmail}}
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Record Info" >
                    <div class="ui-grid ui-grid-responsive  ui-grid-forms ui-fluid ui-grid-pad ">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"><b>Unique Identifier</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.identifier}}
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label"><b>Bureau Code</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.bureauCode}}
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label"><b>Program Code</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.programCode}}
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label"><b>Update Frequency</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.accrualPeriodicity}}
                            </div>
                        </div>            
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"><b>Language</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.language}}
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Data Access" >
                    <div class="ui-grid ui-grid-responsive  ui-grid-forms ui-fluid ui-grid-pad ">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"><b>Access Level</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.accessLevel}}
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label"><b>Rights</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.rights}}
                            </div>
                        </div>
                        <!--
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label"><b>Download URL</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.distribution.accessURL}}
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label "><b>Format</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.distribution.format}}
                            </div>
                        </div>
                        -->
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Publication Info" >
                    <div class="ui-grid ui-grid-responsive  ui-grid-forms ui-fluid ui-grid-pad ">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"><b>Category</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.theme}}
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label"><b>Publications</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.references}}
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label"><b>Dataset update date</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.issued}}
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label "><b>Publisher</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.publisher.name}}
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Record Info" >
                    <div class="ui-grid ui-grid-responsive  ui-grid-forms ui-fluid ui-grid-pad ">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"><b>Update Frequency</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.accrualPeriodicity}}
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label"><b>Language</b>
                            </div>
                            <div class="ui-grid-col-10">
                                {{summaryCandidate.language}}
                            </div>
                        </div>
                    </div>
                </p-tabPanel>

            </p-tabView>
        </div>
    </div>

</div>
<div *ngIf="summaryPageOpen != true"> 
<div class="Container100 Responsive100 background-white content-center">
    <!-- Section 1 -->
    <div class="Container100">
        <div class="ContainerIndent">
            <div class="">
                <div class="Container">
                    <div class="Container100 Responsive100">
                        <div class="Container">
                            <div class="EmptyBox20"></div>

                            <div class="ui-grid ui-grid-responsive ui-grid-forms ui-fluid ui-grid-pad" >
                                <div class="ui-grid-row TexAlCenter" >
                                    <div class="ui-grid-col-7">
                                        <input type="text" pInputText [(ngModel)]="searchValue" placeholder="Search..."
                                        />
                                    </div>
                                    <div class="ui-grid-col-3">
                                        <p-dropdown
                                        [options]="taxonomies" [(ngModel)]="searchTaxonomyKey" [scrollHeight]="'400px'"
                                        [style]="{'width':'100%', 'margin':'0px 0px 5px 0px'}" [styleClass]="Fleft"
                                        ></p-dropdown>
                                    </div>
                                    <div class="ui-grid-col-2">
                                        <button
                                        (click)="search(searchValue,searchTaxonomyKey)" pButton label="Search"
                                        type="button" class="CyanButton Wid100"></button></div>
                                </div>
                                <div class="EmptyBox20"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="SeparatorFull"></div>
<div *ngIf="searching">
<div style="height:100%;text-align:center" class="background-white">
    <div style="margin-top:25px" class="background-white">
        <img src="libs/modena-1.0.2/layout/images/loader.gif"/>
    </div>
</div>
</div>
<div *ngIf="!searching">
<div class="Container100 Responsive100 background-white" >
    <div class="Container30 Responsive100 ">
        <!-- Section 1 -->
        <div class="Container100">
            <div class="ContainerIndent">
                <div class="HeiAutoOnMobile background-white " style="min-height:500px;">

                    <div class="Container100 Responsive100">
                    <div class="ui-grid-row" >
                        <div class="ui-grid-col-6" ><b><span class="Fs20 FontRobotoLight" >Filters</span></b>
                        </div>
                    </div>
                    </div>
                    <div class="Container100">
                        <div class="Container100 Responsive100">
                             <div class="Container">
                                <div class="ui-grid ui-grid-responsive  ui-grid-forms ui-fluid ui-grid-pad ">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4 Wid90"><span class="black Fs16"><b>Contact</b></span> <br>
                                        
                                        <div class="ui-grid-col-8 Wid90">
                                            <div *ngIf="selectedAuthorDropdown === false">
                                            <p-autoComplete [(ngModel)]="selectedAuthor" [suggestions]="suggestedAuthors" (completeMethod)="filterAuthors($event)" [size]="30" [minLength]="1"
                                            placeholder="Search Contact..." [dropdown]="true" (onDropdownClick)="onAuthorDropdownClick($event)"
                                            (onSelect)="filterResults($event,'Author')"                 
                                            >
                                            </p-autoComplete>
                                            </div>
                                            <div *ngIf="selectedAuthorDropdown === true">
                                                  <ul class="ui-autocomplete-multiple ui-widget ui-inputtext ui-state-default ui-corner-all">
                                                    <li class="ui-autocomplete-input-token">
                                                       <span>{{selectedAuthor}}</span>
                                                      <i style="align:right" (click)="clearAuthorFilter()" class="fa fa-times">
                                                      </i>
                                                    </li>
                                                </ul>
                                            </div>
                                       </div>
                                        </div>

                                        </div>
                                    <div class="ui-grid-row" >
                                        <div class="ui-grid-col-4 Wid90" ><span class="black Fs16 " ><b>Keyword</b></span><br>
                                        
                                        <div class="ui-grid-col-8 Wid90"  style='word-wrap: break-word'>
                                            <p-autoComplete [(ngModel)]="selectedKeywords" [suggestions]="suggestedKeywords" (completeMethod)="filterKeywords($event)"
                                            [multiple]="true" [size]="30"
                                            (onSelect)="filterResults($event)"
                                            (onUnselect)="filterResults($event)"
                                            [minLength]="1"  placeholder="Hint: search...">
                                            </p-autoComplete>
                       
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row" >
                                       <div class="ui-grid-col-4 Wid90" ><span class="black Fs16"><b>Research Topics</b></span> <br>
                                        
                                        <div class="ui-grid-col-8 Wid90" >
                                        
                                           <p-autoComplete [(ngModel)]="selectedThemes" [suggestions]="suggestedThemes" (completeMethod)="filterThemes($event)" [size]="30"
                                            [minLength]="1" placeholder="Search topic..." [multiple]="true"
                                            (onSelect)="filterResults($event)"
                                            (onUnselect)="filterResults($event)"
                                            >
                                            </p-autoComplete>
                                        </div>
                                        </div>                                    
                                     
                                    </div>
                                     <div class="EmptyBox10"></div>
                                       <div class="ui-grid-row" style="text-align: center ">
                                    <div class="ui-grid-col-5" style="text-align: center ">
                                        <button
                                        (click)="clearFilters()" pButton label="Clear All Filters"
                                        icon="fa fa-times"
                                        type="button" class="CyanButton Wid100"></button>
                                    </div>

                                    </div>
 
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
 
    </div>

    <!-- Right Column -->
    <div class="Container70 Responsive100 results">

        <!-- Section 1 -->
        <div class="Container100 results">
            <div class="ContainerIndent results">
                <div class="HeiAutoOnMobile results" style="min-height:400px;">
                    <div *ngIf="filteredResults.length > 0">
                       <div class="ui-grid-row" >
                        <div class="ui-grid-col-6" ><b><span class="Fs20 FontRobotoLight" >
                    {{filteredResults.length}} Results</span>  
                    </b></div></div>  
                    <div class="EmptyBox10"></div>

                    <div>
                       <button *ngIf="filteredResults.length > 0" type="button" pButton icon="fa-download" iconPos="left" label="CSV"
                       (click)='results.exportCSV()' style="float:left"></button>
                    </div>
                    <p-dataTable

                    [paginatorPosition]="top" expandableRows = "true"
                     #results scrollable="true" scrollHeight="600px" [value]="filteredResults"
                    [rows]="50" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20,50]" sortMode="multiple">
                    <div class="Container" >
                    
                        <template let-resultItem pTemplate type="body">
                            <span ><b>Description</b> : {{resultItem.description}}</span><br>
                            <div class="EmptyBox10"></div>
                            <span ><b>Keywords</b> : {{resultItem.keyword}}</span>

                        </template>
                    </div>
                    <p-column styleClass="col-button" header="Action">
                        <template let-resultItem="rowData" pTemplate type="body">
                           <a href = "search?identifier={{resultItem.identifier}}" target="_" >  <button class="CyanButton" type="button" pButton icon="fa-external-link-square"
                            iconPos="left" title="Open Summary Page" 
                            onclick="openSummaryPage()"></button> </a>

                          <a [(href)] = "resultItem.landingPage" target="_">  <button type="button" pButton icon="fa-external-link"
                             iconPos="left" title="Open Landing Page"></button></a>

                        </template>
                    </p-column>
                    <p-column field="title"
                    [sortable]="true" [filter]="true" header="Title" filterMatchMode="contains"></p-column>
                    <p-column field="contactPoint.fn"
                    [sortable]="true" [filter]="true" header="Contact" filterMatchMode="contains"></p-column>
                    <p-column field="description" [filter]="true" header="Description" expander = "true" filterMatchMode="contains">
                    <template let-col let-resultItem="rowData" pTemplate type="body">
                        <span class="glimpse-content" >{{resultItem[col.field]}}</span>
                    </template>
                    </p-column>
                    <p-column field="keyword" [filter]="true" header="Keywords" expander="true" filterMatchMode="contains">
                    <template let-col let-resultItem="rowData" pTemplate type="body">
                        <span class="glimpse-content" >{{resultItem[col.field]}}</span>
                    </template>
                    </p-column>
                    <p-column field="modified" filterMatchMode="contains"
                    [sortable]="true" [filter]="true" header="Date Modified"></p-column>

                    </p-dataTable>

                </div>

                <div
                *ngIf="filteredResults.length <= 0">
                No Result found.
            </div>
        </div>
    </div>
</div>
</div>

</div>

</div>


</div>
</div>


