.filters {
    background: #f8f9f9;
    background-color: #f8f9f9;
    box-shadow: inset -4px 0 16px -9px rgba(0, 0, 0, 0.5);
}

.ellipsis {

}

.summary-content {
    text-align: left; max-height: 400px; overflow: auto;
    background-color: #f2f2f2;
    border:1px #f2f2f2;
}

.glimpse-content{
   display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 10*1.4*3; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: 1.4em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-page{
    padding-bottom:100px;
}

.style-horizontal {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.style-vertical {
   border-left: thick solid #ff0000;
}

.background-white 
{
  background-color:#ffffff;
}

.content-center
{
  justify-content:left;
  display:flex
}