/* Ensure grid columns stretch to fill available space */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 3em;
  margin-right: 2em;
}

::ng-deep .p-panel-header {
  background-color: black;
  border-color: black;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

::ng-deep .p-panel-header a {
  color: #ffffff;
}

::ng-deep .p-panel-content {
  border-color: black;
  background-color: #ffffff;
  color: black;
}


.anchor-button {
  border: 1px solid white; /* Set border color to black */
  color: white; /* Set text color to black */
  text-decoration: none; /* Remove underline */
  margin-right: 10px;
  text-align: left;
  background-color: black; /* Set background color */
  cursor: default;
}

::ng-deep .p-breadcrumb {
  background-color: black;
  border-color: white;
  color: white;
  cursor: pointer;
}

::host ::ng-deep .p-image-action {
  flex: 0 0 20%;
}
