<div
  style="
    background-color: white;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding: 2em;
  "
>
  <p-panel>
    <ng-template pTemplate="header" class="header-container">
      <i
        class="faa faa-info-circle faa-lg icon-padding"
        style="margin-right: 10px"
      ></i>
      <a target="_blank" pButton size="small" class="anchor-button">
        <label id="title">About NIST Data</label>
      </a>
    </ng-template>
    <ng-template pTemplate="icons">
      <p-breadcrumb
        aria-colcount="anchor-button"
        [model]="breadcrumbItems"
      ></p-breadcrumb>
    </ng-template>

    <div class="result-details" style="display: flex; align-items: flex-start">
      <div>
        <p-image
          src="./assets/images/AboutNIST-wordcloud_D.jpg"
          alt="AboutNIST"
          [preview]="true"
          style="margin-right: 1em"
          width="250"
        ></p-image>
      </div>

      <div style="flex: 1">
        <div class="has-text-black">
          This National Institute of Standards and Technology (NIST)
          <b>Science Data Portal</b> provides a user-friendly discovery and
          exploration tool for publicly available datasets at NIST. These data
          products are generated as part of the NIST mission, spanning multiple
          disciplines of scientific, engineering and technology research. NIST's
          publicly available data sets showcase its commitment to providing
          accurate, well-curated measurements of physical properties,
          exemplified by the
          <a
            href="https://www.nist.gov/srd"
            target="_blank"
            rel="noopener"
            (click)="
              gaService.gaTrackEvent(
                'outbound',
                $event,
                'Standard Reference Data program'
              )
            "
          >
            Standard Reference Data program </a
          >, as well as its commitment to advancing basic research.
        </div>
        <div class="adv-step">
          For
          <a
            href="https://www.nist.gov/topics/data/public-access-nist-research/copyright-fair-use-and-licensing-statements-srd-data-and"
            target="_blank"
            rel="noopener"
            (click)="gaService.gaTrackEvent('outbound', $event, 'Fair Use')"
          >
            <b>Fair Use</b>
          </a>
          of these data, please include citation in your works including the
          Digital Object Identifier (DOI). NIST DOIs are registered with the
          <a
            href="https://www.datacite.org"
            target="_blank"
            rel="noopener"
            (click)="gaService.gaTrackEvent('outbound', $event, 'DataCite')"
          >
            DataCite organization
          </a>
          and provide globally unique persistent identifiers. The DOI also
          serves as a direct link to data <i>homepages</i> giving access to the
          full research publication description and underlying datasets.
        </div>
        <hr />
        <div class="adv-step">
          This portal is designed with
          <a
            href="https://www.go-fair.org/fair-principles/"
            target="_blank"
            rel="noopener"
            (click)="gaService.gaTrackEvent('outbound', $event, 'FAIR Data')"
          >
            FAIR principles
          </a>
          and best practice for
          <a
            href="https://strategy.data.gov/"
            target="_blank"
            rel="noopener"
            (click)="gaService.gaTrackEvent('outbound', $event, 'FDS')"
          >
            Federal Data Strategy
          </a>
          (See
          <a
            href="#/policy"
            target="_blank"
            (click)="gaService.gaTrackEvent('outbound', $event, 'Policy')"
          >
            Policy page
          </a>
          for more details). This portal and related software is hosted in the
          USNISTGOV organization
          <a
            href="https://github.com/usnistgov/oar-developer"
            target="_blank"
            rel="noopener"
            (click)="gaService.gaTrackEvent('outbound', $event, 'OAR Github')"
          >
            github repository
          </a>
          as an open source solution.
        </div>
      </div>
    </div>
  </p-panel>
</div>
