<style id="antiClickjack">
  body {
    display: none !important;
  }
</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>

<div class="ui-g" style="width: 100%;background-color: #153971;color: #FFFFFF">
  <div class="ui-g-12" style="padding-left:2.5em;padding-right: 2.5em;padding-top: 2.5em">
    <label id='title' style="font-size: xx-large;float: left;display: block;"><i
        class="faa faa-info-circle faa-lg"></i>About NIST Data</label>
    <ol class="breadcrumb" style="float: right;">
      <li class="breadcrumb-item"><a href="#" style="color: #fff;">Home</a></li>
      <li class="active breadcrumb-item">About</li>
      <li class="breadcrumb-item">NIST Data</li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6 ui-lg-6 content"
        style="font-family: Source Sans Pro,sans-serif;font-size:20px;line-height: 1.2em;">
        <div class="adv-step">
          Data products developed and distributed by the National Institute of Standards and Technology span multiple
          disciplines of research and are widely used in research and development programs by industry and academia.
        </div>
        <div class="adv-step">
          NIST's publicly available data sets showcase its committment to providing accurate, well-curated measurements
          of
          physical properties, exemplified by the <a href="https://www.nist.gov/srd" target="_blank"> Standard Reference
            Data program</a>, as well as its committment
          to advancing basic research.
        </div>
        <div class="adv-step">
          In accordance with U.S. Government Open Data Policy and the <a href="https://www.nist.gov/open"
            target="_blank">NIST Plan</a> for providing public access to
          the results of federally funded research data, NIST maintains a publicly accessible listing of available data,
          the
          NIST Public Dataset List <a href="https://www.nist.gov/sites/default/files/data.json"
            target="_blank">(json)</a>. Additionally, these data are assigned a Digital Object
          Identifier (DOI) to increase the discovery and access to research output; these DOIs are registered with
          <a href="https://www.datacite.org" target="_blank">DataCite</a> and provide globally unique persistent
          identifiers. The NIST Science Data Portal provides a
          user-friendly discovery and exploration tool for publically available datasets at NIST.
        </div>
        <hr>
        <div class="adv-step">
          This portal is designed and developed with data.gov <a href="https://project-open-data.cio.gov/"
            target="_blank">Project Open Data </a> standards and principles. The portal software is hosted in the
          usnistgov github repository.
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-1">
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-4">
        <img class="Fleft" src="./assets/images/AboutNIST-Large.png" alt="AboutNIST">

      </div>
    </div>
  </div>
</div>