<style id="antiClickjack">
  body {
    display: none !important;
  }
</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>

<div class="ui-g" style="background-color: #153971;color: #FFFFFF">
  <div class="ui-g-2">
  </div>
  <div class="ui-g-10">
    <div class="EmptyBox20"></div>
    <label style="font-size: x-large;float: left;display: block;"><i class="faa faa-cogs faa-lg"></i> Advanced Search Builder</label>
    <ol class="breadcrumb" style="float: right;">
      <li><a href="#" style="color: #fff;">Home</a></li>
      <li class="active breadCrumb-text" >Advanced Search Builder</li>
    </ol>
    <div class="EmptyBox20"></div>
  </div>
</div>
<div class="ui-fluid"  style="background-color: #EFEFEF">
  <div class="ui-g ">
    <div class="ui-g-12">
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-2">
        </div>
        <div class="ui-g-12 ui-md-4" style="padding-right: 0px;padding-left: 0px;padding-bottom: 0px">
          <label for="advsearchinput" class="hideLabel">Search Input</label>
          <div class="inner-addon left-addon " style="background-color: #FFFFFF">
            <i class="glyphicon glyphicon-search"></i>  <p-autoComplete [inputStyle]="{'width': '100%','padding-left':'40px','height': '42px','font-weight': '400',
        'font-style': 'italic','font-size': '20px'}" (onFocus)="clearText()" (onBlur) = "addPlaceholder()" placeholder="" [(ngModel)]="searchValue" inputId="advsearchinput" (keyup.enter) = "search(searchValue,searchTaxonomyKey,queryAdvSearch)" [suggestions]="suggestedTaxonomyList" (completeMethod)="filterTaxonomies($event)" [minLength]="1" [maxlength] = "2048" [size] = "50" >
          </p-autoComplete>
          </div>
        </div>
        <div class="ui-g-12 ui-md-2" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px">
          <p-dropdown [options]="taxonomies"  inputId="searchtaxonomy" [style]="{'width':'100%',
        'background-color': '#FFFFFF','height': '42px'
        ,'font-weight': '900','font-style': 'italic','display': 'flex','align-items':'center'}" [(ngModel)]="searchTaxonomyKey" >
          </p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-1" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px">
          <button class="searchButton" (click)="search(searchValue,searchTaxonomyKey,'yes')" pButton label="Search" type="submit" ></button>          </div>
        <div class="ui-g-12 ui-md-2">
        </div>
      </div>
      <div class="ui-g-12 ui-md-2">
      </div>
      <div class="ui-g-12 ui-md-6">
        <b> Examples: </b>
        <a class="examples" (click)="searchExample('&quot;Kinetics database&quot;');" href="#!">"Kinetics database" </a> &nbsp;
        <a class="examples" (click)="searchExample('Gallium');" href="#!" >Gallium </a>&nbsp;
        <a class="examples" (click)="searchExample('&quot;SRD 101&quot;');" href="#!" >"SRD 101" </a>&nbsp;
        <a class="examples" (click)="searchExample('XPDB');" href="#!" >XPDB </a>&nbsp;
        <a class="examples" (click)="searchExample('Interatomic Potentials');" href="#!" >Interatomic Potentials </a>&nbsp;
      </div>
    </div>
    <p-dialog header="Save Query" [(visible)]="showQueryName" modal="modal" [responsive]="true" [width]="450" [height]="225" [minWidth]="200">
      <p-message severity="error" text="Field is required" *ngIf = "queryNameReq" ></p-message>
    <div  class="ui-g-12 search-builder-background" *ngIf = "showQueryName == true" >
      <div class="ui-g-12 ui-md-3">
        Query Name* :
      </div>
      <div class="ui-g-12 ui-md-6">
        <input type="text" style="width: 100%;border:.5px solid grey;background-color: #FFFFFF;height: 30px;
        font-weight: 400;" [(ngModel)]="queryName" />
      </div>
      <div class="ui-g-12 ui-md-3"> * Required
      </div>
    </div>
      <div  class="ui-g-12 search-builder-background" *ngIf = "showQueryName == true" >
        <div class="ui-g-12 ui-md-3">
        </div>
        <div class="ui-g-12 ui-md-12 ui-sm-12" style="width:30%;float:right;margin-right:18%">
          <button style="background-color:green;width:75%" (keyup.enter) = "saveAdvSearchQuery(queryName,false)" (click) = "saveAdvSearchQuery(queryName,false)" pButton label="Save" type="submit" icon="ui-icon-save"></button>
        </div>
      </div>
    </p-dialog>
    <div *ngIf = "mobWidth >641" [className]="filterClass" [hidden]="isActive" style="text-align:center;float: right;padding: 0px;background-color: #696666;color: #fff;"> <br>
      <div class="ui-g-12">
        <button type="button" (click) = "setResultsWidth()" class="btn-sm collapsed" data-toggle="collapse" style="background-color: #696666;border-color: #696666; padding: 0em;border: 0em;align:left;color: #FFF;" data-target="#demo"><i class="faa faa-angle-double-right" style="color: #fff;zoom: 130%"></i></button>
        <div class="rotate" style="display: block; right:-30px;color: #fff;"> Queries </div>
      </div>
    </div>
    <div *ngIf = "mobWidth >641" class="ui-g-12 ui-md-3 ui-lg-3 collapse1 in width" [hidden]="!isActive" id="demo" style="background-color: #F8F9F9;padding: 0px 0px 0px 0px;" >
      <div  class="ui-g-12 "   style="padding: 0px;" >
        <div style="background-color: #606165;border-bottom:.5px solid #e6e6e6;width: 100%;padding: .625em;box-shadow: inset -2px 0 16px -9px rgba(0, 0, 0, 0.5);">

          <a style="color: #FFFFFF;font-weight: 900;text-decoration:none">Queries </a> <a class="btn-sm collapse1 in" (click) = "setResultsWidth()"  data-toggle="collapse" style="border-color: #025277; color: #FFF;padding: 0em;border: 0em" data-target="#demo"></a>
          <a href="#" style="float: right;padding-right: 2em;vertical-align: middle;color: #FFFFFF" (click)="$event.preventDefault();displayBuilder()" >
            <i style="vertical-align: middle;zoom: 80%" class="material-icons"> add
            </i>Create Query</a>
        </div>
    <div  class="ui-g-12 ">
      <div class="ui-g-12 ui-md-12">
          <p-dataTable [value]="searchEntities" [style]="{'border':'.5px solid #e6e6e6'}" [loading]="loading" emptyMessage="No entry found">
            <p-column field="data.queryName" [style]="{'word-wrap': 'break-word','width':'30%','font-weight':'700','border':'.5px solid #e6e6e6'}" header="Name">
              <ng-template let-row="rowData" pTemplate type="body">
                <a href="/#/search?q={{row.data.queryValue}}&key=&queryAdvSearch=" (click) = "closeWindow()" target="_parent">{{row.data.queryName}}</a>
              </ng-template>
            </p-column>
            <p-column header="Actions" [style]="{'width':'25%','font-weight':'700'}" styleClass="col-button">
              <ng-template let-row="rowData" pTemplate="body">
                <button type="button" pButton class="buttonSize" (click)="showAdvSearch(row.data.queryName,true)" icon="ui-icon-edit"></button>
                <button type="button" class="buttonSize" pButton (click)="copyQuery(row.data.queryValue)" icon="ui-icon-content-copy"></button>
                <button type="button" class="buttonSize" style="background-color:red" pButton (click)="removeItem(row)" icon="ui-icon-delete"></button>
              </ng-template>
            </p-column>
          </p-dataTable>
      </div>
      <button type="button" pButton class="buttonSize" (click)="exportList()" label="Export" style="float:right"></button>
      <label class="buttonSize ui-button ui-button-text ui-corner-all ui-widget" style="font-weight:normal;line-height:1.25em;float:right">
        <input type="file" id="fileInput" (change)="importList($event)"/>
        Import
      </label>
    </div>
        </div>
    </div>

      <div [className]="resultsClass" style="background-color:white" *ngIf="displayQueryBuilder">
        <div style="float:left"> &nbsp;&nbsp;&nbsp;&nbsp;<b>Query Name :</b> {{this.queryName}} </div>
        <a href="#" style="float: right;padding-right: 2em;vertical-align: middle;" (click)="$event.preventDefault();addRow()" >
          <i style="vertical-align: middle;zoom: 80%" class="material-icons"> add
          </i>Create New Field</a>
        <div class="EmptyBox20"></div>
        <div  class="ui-g-12 ui-md-12 search-builder-background">
        <p-dataTable [value]="rows" [loading]="loading" emptyMessage="No entry found" [style]="{'border':'.5px solid #e6e6e6'}">
        <p-column field="data.queryName" header="Operator" [style]="{'width':'15%','font-weight':'700'}">
          <ng-template let-row="rowData" let-i="rowIndex" pTemplate type="body">
              <p-dropdown  *ngIf = "i != 0" (click) = "saveSearch()" [style]="{'width':'100%','background-color': '#FFFFFF','height': '30px'
        ,'font-weight': '400','font-style': 'italic','border':'.5px solid grey'}" [options]="operators" [(ngModel)]="row.column1" >
              </p-dropdown>
          </ng-template>
        </p-column>
        <p-column field="data.queryName" header="Field Text" [style]="{'width':'35%','font-weight':'700'}">
          <ng-template let-row="rowData" pTemplate type="body">
            <input type="text" id="fieldstext" style="width: 100%;border:.5px solid #e6e6e6;background-color: #FFFFFF;height: 30px;font-weight: 400;
          font-style: italic" [(ngModel)]="row.column2" (keyup)="saveSearch()" placeholder="Fields text..."   />
          </ng-template>
        </p-column>
        <p-column field="data.queryName" header="Field Type" [style]="{'width':'35%','font-weight':'700'}">
          <ng-template let-row="rowData" pTemplate type="body">
            <p-dropdown [options]="fields"  [style]="{'width':'100%','background-color': '#FFFFFF','height': '30px'
        ,'font-weight': '400','font-style': 'italic','border':'.5px solid #e6e6e6'}" [(ngModel)]="row.column3" (click) = "saveSearch()" >
            </p-dropdown>
          </ng-template>
        </p-column>

        <p-column header="Actions" styleClass="col-button" [style]="{'width':'10%','font-weight':'700'}">
          <ng-template let-rowIndex="rowIndex" let-row="rowData" pTemplate="body">
            <button type="button" class="buttonSize background-red" pButton (click)="deleteRow(rowIndex)" icon="ui-icon-delete"></button>
            <button type="button" class="buttonSize" pButton (click)="copyRow(row)" icon="ui-icon-content-copy"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
   <p-confirmDialog ></p-confirmDialog>
    <div  class="ui-g-12 search-builder-background" >
      <div class="ui-g-12 ui-md-6 ui-sm-6">
      </div>
      <div class="ui-g-12 ui-md-6 ui-sm-6" style="float:right" >
        <button style= "background-color:red;width:20%;" (click)="deleteConfirm()" *ngIf = "rows.length==0" disabled pButton icon="ui-icon-delete" label="Delete" type="submit" ></button>
        <button style= "background-color:red;width:20%;" (click)="deleteConfirm()" *ngIf = "rows.length>0" pButton icon="ui-icon-delete" label="Delete" type="submit" ></button>
        <button style= "background-color:orange;width:20%;" (click)="resetConfirm()" *ngIf = "rows.length==0" disabled pButton label="Reset" icon="ui-icon-warning" type="reset" ></button>
        <button style= "background-color:orange;width:20%;" (click)="resetConfirm()" *ngIf = "rows.length>0" pButton label="Reset" icon="ui-icon-warning" type="reset" ></button>
        <button style= "background-color:green;width:20%;" (click)="displayQuery()" *ngIf = "rows.length==0" disabled  pButton label="Save" type="submit" icon="ui-icon-save"></button>
        <button style= "background-color:green;width:20%;" (click)="displayQuery()" *ngIf = "rows.length>0" pButton label="Save" type="submit" icon="ui-icon-save"></button>
        <button style="background-color:gray;width:20%;"(click)="cancelConfirm()" pButton label="Cancel" type="submit" icon="ui-icon-cancel" ></button>
      </div>
    </div>
    <div style="height:150px;background-color: #fff"></div>
  </div>
    </div>
  </div>

