.background-white
{
	background-color:#ffffff;
}

.background-blue
{
  background-color :#2c539e;
}

.background-red
{
  background-color :#ff0000;
}


.custButton
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
background: #2c539e; /* Old browsers */
background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */

}
.button {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444;
  cursor: pointer;
}

.cardDiv:hover{
  color: #1471AE;
  border:1px solid;
}


/* enable absolute positioning */
.inner-addon {
  position: relative;
}

.custWhite {
  color: #FFFFFF;
  height:42px;
  background-color: #FFFFFF;
  margin-top: 0;
  margin-left: 0; }

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  font-size: 25px;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input p-autoComplete { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.searchButton{
  background-color:#0872B9;
  width: 100%;
  height: 42px;
  font-weight: 900;
  font-size: 18px;
  border-radius: 0px;
  /*
  border-radius-topright: 5px;
  border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  */
}

.actionButton{
  background-color:#0872B9;
  width: 100%;
  height: 32px;
  font-weight: 900;
  font-size: 18px;
  border-radius: 0px;
  /*
  border-radius-topright: 5px;
  border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  */
}

.searchButton:hover{
  background-color:#1F5593;
}

.examples {
  color: #0f4a65;
  text-decoration: underline;
}

.search-builder-background {
  background-color: #fff;
}

.search-builder-button-add {
  background-color: #2e8540 !important;
}

.search-builder-button-remove {
  background-color: #cd2026 !important;
}

:host /deep/ .breadcrumb {
  background-color: #153971;
}

.breadCrumb-text {
  color: #fff;
  font-weight: 300;
}

.addNew {
  width:20% !important;
  float:right !important;
}

.buttonSize {
  zoom:75%;
  width:30%;
  float:right;
  margin-right:10%;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  color:#fff;
  cursor: pointer;
  background-color: #1471AE;
  height: 1.75em;
  padding: .2em;
}

:host /deep/ .ui-message-text {
  vertical-align:top
}

.how-to-build-link{
  color: #0f4a65;
  text-decoration: underline;
  display: table-cell;
  vertical-align: middle;
}

.how-to-build {
  padding-top:15px;
}

@media screen and (min-width: 901px) {
  button.searchButton {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  button.searchButton {
    font-size: 15px;
  }
}

@media screen and (min-width: 1301px) {
  p-dropdown {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  p-dropdown {
    font-size: 13px;
  }
}

@media screen and (min-width: 1301px) {
  p-autoComplete {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  p-autoComplete {
    font-size: 13px;
  }
}