body .ui-widget-content {
  border: 0px;
}

body .ui-state-active, body .ui-state-highlight {
  background-color: #FFFFFF;
}

.ui-tree .ui-treenode-label.ui-state-highlight, body ui-tree .ui-treenode-label.ui-state-hover {
  font-weight: 700;
  color: #000;
}

.ui-menu .ui-menu-list li.ui-widget-header {
  color: #000;
}
