/* headbar.component.css */
#logo {
  display: flex;
  align-items: center;
  background-color: #000000;
  margin-left: 1.7em;
  cursor: pointer;
}

.logo-text {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 15px;
  line-height: 17px;
  color: #ffffff;
  white-space: nowrap;
  margin-left: -.5rem;
  margin-right: .5rem;
  display:inline-block;
}

:host {
  position: relative;
  z-index: 1200;
}

::ng-deep .p-menubar {
  background-color: #000000;
  margin-left: auto;
  color: #ffffff;
  border: none;
  position: relative;
  z-index: 1200;
}

::ng-deep .p-menubar .p-menubar-end {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

::ng-deep .p-menubar .p-submenu-list {
  z-index: 1210;
}

::ng-deep .p-menuitem-text {
  font-size: 14px;
}

@media (max-width: 1200px) {
  ::ng-deep .p-menuitem-text {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  ::ng-deep .p-menuitem-text {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  ::ng-deep .p-menuitem-text {
    font-size: 11px;
  }
}

@media (max-width: 576px) {
  ::ng-deep .p-menuitem-text {
    font-size: 10px;
  }
}


::ng-deep .p-menuitem-link:hover {
  background-color: #444444;
}

::ng-deep .p-menuitem-icon {
  margin-right: .5rem;
}

.layout-wrapper,
.layout-container,
.grid {
  width: 100%;
  margin: 0;
  padding: 0;
}

::ng-deep .p-menubar .p-menubar-end {
  margin-left: auto;
}

.logo-container {
  display:inline-block;
  width: 110px;  /* Width of the container */
  height: 30px; /* Height of the container */
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 0em;
}

.image-container {
  width: 330px;  /* Width of the container */
  height: 100px; /* Height of the container */
  overflow: hidden;
  position: relative;
  margin-left: -60px;
  margin-top: -2.1em;
}

.scaled-image {
  width: 100%;
  height: 100%;
  object-fit: cover;    /* Ensures the image scales to cover the container */
  object-position: left center;  /* Ensures the left part of the image is in view */
  transform: scale(.8);  /* Scale the image */
  clip-path: inset(0 10% 0 0);  /* Clips the right half, showing only the left */
  transition: transform 0.3s ease-in-out; /* Smooth transition for scale */
}

#appVersion {
  display:inline-block;
  border: 1px solid #f0f0f0;
  margin-left: 2em;
  /* margin-top: 5px; */
  margin-right: 18px;
  color: #f0f0f0;
  background-color: transparent;
}
