<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <div
      id="logo"
      (click)="goHome()"
      style="display: flex; align-items: center; margin-right: 10px"
    >
      <img
        src="./assets/images/nist_logo_reverse.png"
        alt="NIST Science Data Portal"
        title="NIST Science Data Portal"
      />
      <div class="logo-text">
        <div class="ml-2">SCIENCE</div>
        <div class="ml-2">DATA PORTAL</div>
      </div>

      <span
        class="tag"
        [ngClass]="{ 'p-tag': true, 'p-tag-contrast': true }"
        style="margin-left: 1em; margin-top: -15px"
      >
        {{ appVersion }}</span
      >
    </div>
  </ng-template>
</p-menubar>
