<style id="antiClickjack">
  body {
    display: none !important;
  }
</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>

<div class="ui-g" style="width: 100%;background-color: #153971;color: #FFFFFF">
  <div class="ui-g-12" style="padding-left:2.5em;padding-right: 2.5em;padding-top: 2.5em;">
    <label id='title' style="font-size: xx-large;float: left;display: block;"><i
        class="faa faa-book faa-lg"></i>Policy</label>
    <ol class="breadcrumb" style="float: right;">
      <li><a href="#" style="color: #fff;" (click)="gaService.gaTrackPageview('/', 'homepage')">Home</a></li>
      <li class="active breadCrumb-text">About</li>
      <li class="active breadCrumb-text">Policy</li>
    </ol>
  </div>
</div>

<div class="card">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6 ui-lg-6"
        style="font-family: Source Sans Pro,sans-serif;font-size:20px;line-height: 1.2em;">
        <div class="adv-step">
          This NIST Science Data Portal and Public Data Repository operate in support of the <i>NIST Plan for Providing Access to Federally Funded Research</i> in accordance with government policy and law.   The plan is documented through of a series of Directives,  referenced on the <a href="https://www.nist.gov/open" target="_blank" (click)="gaService.gaTrackEvent('outbound', $event, 'NIST Open Data')"> Public Access to NIST Research</a>  webpage.
        </div>
        <div class="adv-step">
          NIST maintains an organization Enterprise Data Inventory (EDI) and generates a public data catalog complying with <a href="https://resources.data.gov/" target="_blank" (click)="gaService.gaTrackEvent('outbound', $event, 'Federal Data Resources')">Federal Enterprise Data Resources</a> guidance.  The  NIST Public Data Repository includes this catalog as part of its core metadata.   A <i>standard </i>machine-readible format, the  <a href="https://resources.data.gov/schemas/dcat-us/v1.1/" target="_blank" (click)="gaService.gaTrackEvent('outbound', $event, 'DCAT-US')">DCAT-US</a> (Project Open Data) metadata schema representation, of this catalog is available <a href="https://www.nist.gov/sites/default/files/data.json" target="_blank" (click)="gaService.gaTrackEvent('outbound', $event, 'NIST DATA.JSON')"> here </a>.   Additionally, this catalog is harvested and aggregated in the government <a
            href="https://data.gov/" target="_blank" (click)="gaService.gaTrackEvent('outbound', $event, 'Data.gov')">Data.gov</a> website as part of the Department of Commerce agency data collection.
        </div>
        <div class="adv-step">
          <p>
            The Science Data Portal and Public Data Repository collectively serve NIST Open Data policy and exemplify capabilities supporting new public law, <a
              href="https://docs.house.gov/meetings/GO/GO00/20171102/106588/BILLS-115HR4174ih-FEBP.pdf"
              target="_blank" (click)="gaService.gaTrackEvent('download', $event, 'Open Government Data Act')">Foundations for Evidence-Based Policymaking Act (115-435) Title II, Open Government Data Act (2019)</a>.
          </p>
        </div>
	<hr>
        <div class="adv-step">
          <p>
            As part of NIST strategic efforts to develop infrastructure supporting public access and discoverability to
            government research datasets, this page will be updated to reflect changes in content and services as they
            pertain to policy and law.
          </p>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-1">
      </div>
      <div style="width: 100%">
        <img style="float:right;width:45%; margin: 1em 2em 0em 0em;" src="./assets/images/Policy_Logos_2.png" alt="NISTPolicy">
      </div>      
    </div>
  </div>
</div>
