<!-- Top banner -->
<div class="ui-g top-banner" [ngStyle]="{ 'background-image': 'url(' + imageURL + ')'}">
  <div class="container inner-top-banner">
    <span style="font-size: xx-large;">
      <i class="faa faa-book faa-lg" style="padding-right: .5em;"></i><label id='title'>Policy</label>
    </span>
    <ol class="breadcrumb" style="float: right;">
      <li class="active breadcrumb-item"><span style="color: #fff; font-weight:normal; cursor: pointer;"
          (click)="commonService.goHome()">Home</span></li>
      <li class="breadcrumb-item">About</li>
      <li class="breadcrumb-item">Policy</li>
    </ol>
  </div>
</div>

<div style="width: 100%; background-color: white; padding: 0px;">
  <div class="container text-body">
    <img class="main-image" src="./assets/images/Policy_Logos_2.png" style="width:60%;">

    <div class="adv-step">
        This NIST Science Data Portal and Public Data Repository operate in support of the <i>NIST Plan for Providing Access to Federally Funded Research</i> in accordance with government policy and law.   The plan is documented through of a series of Directives,  referenced on the <a href="https://www.nist.gov/open" target="_blank" (click)="gaService.gaTrackEvent('outbound', $event, 'NIST Open Data')"> Public Access to NIST Research</a>  webpage.
      </div>
      <div class="adv-step">
        NIST maintains an organization Enterprise Data Inventory (EDI) and generates a public data catalog complying with <a href="https://resources.data.gov/" target="_blank" (click)="gaService.gaTrackEvent('outbound', $event, 'Federal Data Resources')">Federal Enterprise Data Resources</a> guidance.  The  NIST Public Data Repository includes this catalog as part of its core metadata.   A <i>standard </i>machine-readible format, the  <a href="https://resources.data.gov/schemas/dcat-us/v1.1/" target="_blank" (click)="gaService.gaTrackEvent('outbound', $event, 'DCAT-US')">DCAT-US</a> (Project Open Data) metadata schema representation, of this catalog is available <a href="https://www.nist.gov/sites/default/files/data.json" target="_blank" (click)="gaService.gaTrackEvent('outbound', $event, 'NIST DATA.JSON')"> here </a>.   Additionally, this catalog is harvested and aggregated in the government <a
          href="https://data.gov/" target="_blank" (click)="gaService.gaTrackEvent('outbound', $event, 'Data.gov')">Data.gov</a> website as part of the Department of Commerce agency data collection.
      </div>
      <div class="adv-step">
        <p>
          The Science Data Portal and Public Data Repository collectively serve NIST Open Data policy and exemplify capabilities supporting new public law, <a
            href="https://docs.house.gov/meetings/GO/GO00/20171102/106588/BILLS-115HR4174ih-FEBP.pdf"
            target="_blank" (click)="gaService.gaTrackEvent('download', $event, 'Open Government Data Act')">Foundations for Evidence-Based Policymaking Act (115-435) Title II, Open Government Data Act (2019)</a>.
        </p>
      </div>
  <hr>
      <div class="adv-step">
        <p>
          As part of NIST strategic efforts to develop infrastructure supporting public access and discoverability to
          government research datasets, this page will be updated to reflect changes in content and services as they
          pertain to policy and law.
        </p>
      </div>
    </div>
</div>
