

#examples thead {
  background-color: #c7c7c7;
  color: white;
  font-weight: bold;
  border-color:grey;
}

#examples thead tr {
  height:30px;
}


:host /deep/ .breadcrumb {
  background-color: #153971;
}

.breadCrumb-text {
  color: #fff;
  font-weight: 300;
}

a:link, a:visited {
  font-weight: bold;
}

ul.links li {
  font-size:20px;
  margin-top:10px;
}

ol.sr li {
  margin-top:10px
}

ul.links {
  list-style-type: disc;
}
li.links {
  margin: 0 0 0.8em 0;
}

.description {
  color: gray;
  font-size: 90%;
}

div.section h1 {
  font-weight:600;
  font-size: 30px;
}


div.section .content *{
  font-size:20px
}

div.section {
  margin-bottom: 20px;
}

li {
  cursor:pointer;
}
