<p-card class="flex mr-4 topic-card" [style]="{ width: '100%', cursor: 'pointer' }" (click)="handleCardClick($event)">
  <ng-template pTemplate="header">
    <img alt="Card" [src]="image" style="width: 100%; height: 200px; object-fit: cover;" />
  </ng-template>

  <ng-template pTemplate="title">
    <div class="flex align-items-center justify-content-between topic-header">
      <span>{{ title }}</span>
      <button pButton type="button" icon="{{ expanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down' }}" (click)="toggleDescription($event)"></button>
    </div>
  </ng-template>

  <div *ngIf="showIcon" class="subheader">
    <p-button class="curated-collection-button" (click)="openLink($event)">
      <img [src]="icon" alt="A Curated Collection" class="curated-collection-icon" />
      <span class="curated-collection-label">A Curated Collection</span>
    </p-button>
  </div>
  
  <div *ngIf="expanded" class="description">
    <p>{{ description }}</p>
  </div>
</p-card>