<p-card class="flex mr-4" [style]="{ width: 'auto' }">
  <ng-template pTemplate="header">
    <img alt="Card" [src]="image" style="width: 100%; height: 200px; object-fit: cover;" />
  </ng-template>
  
  <ng-template pTemplate="title">
    <div class="flex align-items-center">
      <span>{{ title }}</span>
    </div>
  </ng-template>

  <div *ngIf="showIcon" class="subheader">
    <span>A Curated Collection</span>
    <img
      src="{{ icon }}"
      alt="A Curated Collection"
      style="height: 20px; margin-left: 8px"
    />
  </div>
  
  <p>{{ description }}</p>
</p-card>