<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <div
      id="logo"
      (click)="goHome()"
      style="display: flex; align-items: center"
    >
      <img
        src="./assets/images/nist_logo_reverse.png"
        alt="NIST Science Data Portal"
        title="NIST Science Data Portal"
      />
      <div style="display: inline-block; margin-left: 5px; margin-top: -5.5px">
        <div class="ml-2 heading has-text-white">SCIENCE</div>
        <div class="ml-2 heading has-text-white">DATA PORTAL</div>
      </div>
      <p-tag
        severity="contrast"
        [value]="appVersion"
        style="margin-left: 1em; margin-top: -15px"
      ></p-tag>
    </div>
  </ng-template>
</p-menubar>
