<div class="has-background-black p-3" style="display: flex; justify-content: space-between; align-items: center;">
  <div id="logo" (click)="goHome()" style="display: flex; align-items: center;">
    <img
      src="./assets/images/nist_logo_reverse.png"
      alt="NIST Science Data Portal"
      title="NIST Science Data Portal"
      style="float: left;"
    />
    <div style="display: inline-block; margin-left: 5px; margin-top: -5.5px;">
      <div class="ml-2 heading has-text-white">SCIENCE</div>
      <div class="ml-2 heading has-text-white">DATA PORTAL</div>
    </div>
    <div
      class="tag is-rounded is-dark has-text-dark is-small"
      style="
        color: black;
        background-color: #f0f0f0;
        vertical-align: text-top;
        margin-left: 3em;
        margin-top: -22px;
      "
    >
      {{ appVersion }}
    </div>
  </div>

  <!-- Navbar items moved to the right side -->
  <nav
    class="navbar is-black"
    role="navigation"
    aria-label="main navigation"
    style="height: auto; padding: 0rem 0.75rem !important"
  >
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <i class="faa faa-home has-text-white" style="font-size: 23px"></i>
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
        (click)="toggleCollapsed()"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div
      id="navbarBasicExample"
      class="navbar-menu"
      [ngClass]="{ 'is-active': !collapsed }"
    >
      <div class="navbar-start">
        <!-- Dropdowns -->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link has-text-white" (click)="toggleAbout()">
            <i class="faa faa-info-circle"></i>&nbsp; About</a
          >
          <div
            class="navbar-dropdown"
            [ngClass]="{ 'is-active': aboutCollapsed }"
          >
            <a
              class="navbar-item"
              href="https://github.com/usnistgov/oar-developer/blob/master/RELEASE_NOTES.md"
              target="_blank"
              rel="noopener"
              >Release Notes</a
            >
            <a class="navbar-item" href="#" routerLink="/about" target="_self"
              >About NIST Data</a
            >
            <a class="navbar-item" href="#" routerLink="/policy" target="_self"
              >Policy</a
            >
            <a class="navbar-item" href="#" routerLink="/contactus" target="_self"
              >Help</a
            >
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link has-text-white" (click)="toggleKeyDatasets()">
            <i class="faa faa-database"></i>&nbsp; Key Datasets</a
          >
          <div
            class="navbar-dropdown"
            [ngClass]="{ 'is-active': keyDatasetsCollapsed }"
          >
            <a
              class="navbar-item"
              href="https://www.nist.gov/pml/atomic-spectra-database"
              target="_blank"
              rel="noopener"
              >Atomic Spectroscopy Database</a
            >
            <a
              class="navbar-item"
              href="https://www.nist.gov/programs-projects/nist-ballistics-toolmark-database"
              target="_blank"
              rel="noopener"
              >Ballistics Toolmark</a
            >
            <a
              class="navbar-item"
              href="https://webbook.nist.gov/chemistry/"
              target="_blank"
              rel="noopener"
              >Chemistry WebBook</a
            >
            <a
              class="navbar-item"
              href="https://dlmf.nist.gov/"
              target="_blank"
              rel="noopener"
              >Digital Library of Mathematical Functions</a
            >
            <a
              class="navbar-item"
              href="https://www.nist.gov/el/fire-research-division-73300/product-services/fire-web"
              target="_blank"
              rel="noopener"
              >Fire Research</a
            >
            <a
              class="navbar-item"
              href="https://mgi.nist.gov/"
              target="_blank"
              rel="noopener"
              >Materials Genome Initiative</a
            >
            <a
              class="navbar-item"
              href="https://nvd.nist.gov/"
              target="_blank"
              rel="noopener"
              >National Vulnerability Database</a
            >
            <a
              class="navbar-item"
              href="https://www.nist.gov/pml/productsservices/physical-reference-data"
              target="_blank"
              rel="noopener"
              >Physical Reference Data</a
            >
            <a
              class="navbar-item"
              href="https://nist.time.gov/"
              target="_blank"
              rel="noopener"
              >Time</a
            >
            <a
              class="navbar-item"
              href="https://www.nist.gov/topics/disaster-failure-studies/world-trade-center-disaster-study/disaster-and-failure-studies"
              target="_blank"
              rel="noopener"
              >World Trade Center Disaster Investigation Material</a
            >
          </div>
        </div>
        <a
          class="navbar-item has-text-white"
          target="_blank"
          rel="noopener"
          (click)="navigateToSRDs()"
        >
          <i class="faa faa-book"></i>&nbsp; Standard Reference Data (SRDs)
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link has-text-white" (click)="toggleDeveloper()">
            <i class="faa faa-wrench"></i>&nbsp; Tools</a
          >
          <div
            class="navbar-dropdown"
            [ngClass]="{ 'is-active': developerCollapsed }"
          >
            <a
              class="navbar-item"
              href="https://github.com/usnistgov/oar-developer"
              target="_blank"
              rel="noopener"
              >This site's code</a
            >
            <a class="navbar-item" href="#" routerLink="/api">APIs</a>
            <a
              class="navbar-item"
              href="https://code.nist.gov"
              target="_blank"
              rel="noopener"
              >Open Source Code Portal</a
            >
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link has-text-white" (click)="toggleFindPapers()">
            <i class="faa faa-search"></i>&nbsp; Find Papers</a
          >
          <div
            class="navbar-dropdown"
            [ngClass]="{ 'is-active': aboutFindPapers }"
          >
            <a
              class="navbar-item"
              href="https://www.nist.gov/publications"
              target="_blank"
              rel="noopener"
              >Search All Papers</a
            >
            <a
              class="navbar-item"
              href="https://www.nist.gov/nist-research-library/journal-research-nist"
              target="_blank"
              rel="noopener"
              >JRes NIST</a
            >
            <a
              class="navbar-item"
              href="https://www.ncbi.nlm.nih.gov/pmc/funder/nist/"
              target="_blank"
              rel="noopener"
              >NIST PubMed Central</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>