/*.header__inner {
    
    background: white;
    color: black;
}

.header__logo {
    display: inline-block;
    padding: 32px 0px 32px 32px;
}

.header__logo-link {
    display: block;
}

.header__logo a img {
    width: 289px;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
}

.marTop20
{
  margin-top: 20px;
}

.textTopCenter
{
  color: white;text-align: center;font-size: xx-large;margin-top: 30px;
}*/

.background-black
{
  background-color: #000000;
}
.header-background{
    background-color: #333333;
}
.header-div{
  vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.header-links{
   margin-right: 20px;
   vertical-align: middle;
}