/*.header__inner {

    background: white;
    color: black;
}

.header__logo {
    display: inline-block;
    padding: 32px 0px 32px 32px;
}



.header__logo a img {
    width: 289px;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
}

.marTop20
{
  margin-top: 20px;
}

.textTopCenter
{
  color: white;text-align: center;font-size: xx-large;margin-top: 30px;
}*/

.header__logo-link {
    display: block;
}
.background-black
{
  background-color: #000000;
}
.header-background{
    background-color: #333333;
}
.header-div{
  /*vertical-align: middle;*/
     padding-top: 1%;
    /*margin-bottom: 10px;*/
    padding-bottom: 1%;
    padding-left: 1%;
    color: white;
}

.header-links{
   margin-right: 0px;
   margin-top: 0px;
   color:white;
    padding-right: 2%;
}


.textlinks{
    color:white;
}
*.icon-blue {color: #0088cc}
*.icon-grey {color: grey}

i {
  width:20px;
  text-align:left;
}

.faa {
  position: relative;
}

.badge{
  font-size: 10px;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-top: -0.5em
}
