<div style="align-content: center" >
      <div class="card">
                 <span class="DispBlock Fs20 FontRobotoLight black TexAlCenter">Welcome to NIST</span>
                <div class="EmptyBox20"></div>
                <h1 class="FontRobotoRegular Fs30 black TexAlCenter">SCIENCE DATA PORTAL</h1>
                <div class="EmptyBox20"></div>
                <div class="Wid100 ui-fluid Responsive100">
                    <div class="ui-grid ui-grid-responsive ui-grid-forms ui-fluid ui-grid-pad">
                        <div class="ui-grid-row">
                          <div class="ui-grid-col-2">
                            <p-dropdown [options]="taxonomies" [(ngModel)]="searchTaxonomyKey" [scrollHeight]="'300px'" [style]="{'width':'100%', 'margin':'0px 0px 5px 0px'}" styleClass="Fleft" >

                              </p-dropdown>
                          </div>
                            <div class="ui-grid-col-10">
                                <input type="text" pInputText [(ngModel)]="searchValue" placeholder="Search..." (keyup.enter) = "search(searchValue,searchTaxonomyKey)"  />
                            </div>
                            <div class="ui-grid-col-2"><button icon="ui-icon-search" (click)="search(searchValue,searchTaxonomyKey)" pButton label="Search" type="submit" ></button></div>
                        </div>
                          <div *ngIf="showAdvancedSearch == false" class="ui-grid-row" style="padding-left: 15%">
                            <a id= "examples" class = "Blue" href = "#" (click) = "showDialog()" > &nbsp;<b> Show Examples </b></a>
                            <a id= "advsearch" class = "Blue" href = "#" (click) = "advancedSearch(true)" > &nbsp;<b> Show Advanced Search </b></a>
                          </div>
                          <div *ngIf="showAdvancedSearch == true" style="padding-left: 15%">
                            <a id= "examples" class = "Blue" href = "#" (click) = "showDialog()" > &nbsp;<b> Show Examples </b></a>
                            <a id= "advsearch" class = "Blue" href = "#" (click) = "advancedSearch(false)" > &nbsp;<b> Hide Advanced Search </b></a>
                          </div>

                      <div class="EmptyBox20"></div>

                      <template [ngIf]="showAdvancedSearch == true"  >
                        <div  class="ui-grid-row"  *ngFor='let row of rows; let rowIndex = index'>
                          <div class="ui-grid-col-2">
                            <p-dropdown [options]="fields" [(ngModel)]="row.column1" [style]="{'width':'100%', 'margin':'0px 0px 5px 0px'}"></p-dropdown>
                            </div>
                          <div class="ui-grid-col-10">
                            <input type="text" pInputText [(ngModel)]="row.column2" placeholder="Search..."   />
                          </div>

                        <div class="text-center" class="ui-grid-col-2">
                          <button (click)="addRow()">Add Row</button>
                          <button (click)="deleteRow(rowIndex)">Delete Row</button>

                        </div>
                      </div>
                        </template>
                    </div>
                </div>
      </div>
</div>

<p-dialog header="Search Examples" [(visible)]="display" [style]="{'background-color': '#000000'}">

<div class="card">

  <button (click)="searchExample('kinetics database');" class="button">kinetics database </button><br>
  <button (click)="searchExample('Gallium');" class="button">Gallium </button><br>
  <button (click)="searchExample('&quot;SRD 69&quot;');" class="button">"SRD 69" </button><br>
  <button (click)="searchExample('XPDB');" class="button">XPDB </button><br>
  <button (click)="searchExample('Interatomic Potentials');" class="button">Interatomic Potentials </button><br>
  <button (click)="searchExample('Potentials');" class="button">Potientials </button><br>
  <button (click)="searchExample('Crystallization');" class="button">Crystallization </button><br>
  <button (click)="searchExample('Infrared spectroscopy');" class="button">Infrared spectroscopy </button><br>
</div>

</p-dialog>





