<div class="card" *ngIf="summaryPageOpen == true">
  <h1 class=" TexAlCenter" >Full Record</h1>
  <div class="EmptyBox20"></div>
  <div *ngFor="let summaryCandidate of filteredResults">
    <p-accordion [multiple]="true">
      <p-accordionTab header="Summary" [selected] = "true">
        <div class="ui-g ui-g-nopad">
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Title</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.title}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Description</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.description}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Keywords</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.keyword}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Last Updated Date</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.modified}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Home Page URL</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              <a target="_blank" [(href)]="summaryCandidate.landingPage">{{summaryCandidate.landingPage}}</a>
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Download Full Record</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              <a href="http://10.200.222.250:8082/RMMApi/records/advancedsearch?resId={{summaryCandidate.resId}}" target="_blank" > JSON</a>
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Contact" [selected] = "true">
        <div class="ui-g ">
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Contact</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.contactPoint.fn}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Contact Email</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.contactPoint.hasEmail}}
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Record Info" [selected] = "true">
        <div class="ui-g">
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Unique Identifier</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.id}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Bureau Code</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.bureauCode}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Program Code</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.programCode}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Update Frequency</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.accrualPeriodicity}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Language</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.resLanguage}}
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Data Access" [selected] = "true">
        <div class="ui-grid">
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Access Level</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.accessLevel}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Rights</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.rights}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Access URL</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10"
            *ngIf="summaryCandidate.distribution != null">
              <a target="_blank" [(href)]="summaryCandidate.distribution[0].accessURL">
                {{summaryCandidate.distribution[0].accessURL}}
              </a>
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Publication Info" [selected] = "true">
        <div class="ui-g ">
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Category</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.theme}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Publications</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              <p-accordion [multiple]="true">
                <p-accordionTab header="Publications"  *ngFor = "let ref of summaryCandidate.references">
                  <div class="ui-g-12">
                    <b>Location</b>
                    <a target="_blank" [(href)]="ref.location">
                    {{ref.location}}
                    </a>
                  </div>
                </p-accordionTab>
              </p-accordion>
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Dataset Update Date</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
                {{summaryCandidate.issued}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Publisher</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              {{summaryCandidate.publisher.name}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Format</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10" *ngIf="summaryCandidate.component != null">
              {{summaryCandidate.component.format}}
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <b>Download URL</b>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-10"
                 *ngIf="summaryCandidate.distribution != null">
              <a target="_blank" [(href)]="summaryCandidate.component.downloadURL">
                {{summaryCandidate.component.downloadURL}}
              </a>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
<p-messages [value]="msgs"></p-messages>

<div *ngIf="summaryPageOpen != true" >
  <div class="ui-g ">
      <div class="ui-g-12 ui-md-6 ui-lg-3 ">
        <p-dropdown
          [options]="taxonomies" [(ngModel)]="searchTaxonomyKey" [scrollHeight]="'400px'"
          [style]="{'width':'100%'}"
        ></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-8 ">
        <input type="text" pInputText style="width: 100%" [(ngModel)]="searchValue" (keyup.enter)="search(searchValue,searchTaxonomyKey)"
               placeholder="Search..."
        />
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-1 ">
        <button
          (click)="search(searchValue,searchTaxonomyKey)" pButton label="Search"
          type="button" class="custButton Wid100" icon="ui-icon-search"></button>
      </div>
  </div>
    <div *ngIf="searching">
    <div class="ui-g " >
      <div class="ui-g-12 ui-md-6 ui-lg-3 ui-fluid " >
        <div class="card">
        <p-panel header="Filters">
          <div class="ui-g">
            <div class="ui-g-12">
              <label>Contact</label>
              <div *ngIf="selectedAuthorDropdown == false">
                <p-autoComplete id="contact" [(ngModel)]="selectedAuthor" [suggestions]="suggestedAuthors"
                                (completeMethod)="filterAuthors($event)" [size]="30" [minLength]="1"
                                [dropdown]="true" (onDropdownClick)="onAuthorDropdownClick($event)"
                                (onSelect)="filterResults($event,'Author')">
                </p-autoComplete>
              </div>
              <div *ngIf="selectedAuthorDropdown == true">
                    <span>{{selectedAuthor}}</span>
                    <i style="vertical-align: middle" (click)="clearAuthorFilter()" class="material-icons"> clear
                    </i>
              </div>
            </div>
            <div class="ui-g-12">
              <label>Keyword</label>
              <p-autoComplete id="keyword" [(ngModel)]="selectedKeywords"  [suggestions]="suggestedKeywords"
                              (completeMethod)="filterKeywords($event)"
                              [multiple]="true" [size]="30"
                              (onSelect)="filterResults($event)"
                              (onUnselect)="filterResults($event)"
                              [minLength]="1" [maxlength] = "30">
              </p-autoComplete>
            </div>
            <div class="ui-g-12">
              <label>Research Topics</label>
              <p-multiSelect [options]="themes" [(ngModel)]="selectedThemes" (onChange)="filterResults($event)"></p-multiSelect>

            </div>
          </div>
          <button type="button" (click)="clearFilters()" label="Clear All" icon="ui-icon-clear-all" pButton></button>
        </p-panel>
          </div>
      </div>

      <!-- Section 1 -->

      <div class="ui-g-12 ui-md-8 ui-lg-9 ">
        <div class="card">
          <div *ngIf="filteredResults.length<=10">
            <p-dataTable
              expandableRows="true"
              #results [value]="filteredResults"
              [rows]="10" [paginator]="true" paginatorPosition = "top" [responsive] = "true" [pageLinks]="10"
               sortMode="multiple" >
              <header>
                <div style="text-align:left">
                  <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
                </div>
                <div *ngIf="filteredResults.length > 0">
                <button  type="button" pButton icon="ui-icon-file-download"
                         iconPos="left"
                         label="CSV"
                         (click)='results.exportCSV()'
                         class="divExpCSV"></button>
                <span class="spanResults">&nbsp;&nbsp;
              {{filteredResults.length}} Result(s)</span>
                </div>
              </header>
              <div class="Container">
                <template let-resultItem pTemplate type="body">
                  <span><b>Description</b> : {{resultItem.description}}</span><br>
                  <div class="EmptyBox10"></div>
                  <span><b>Keywords</b> : {{resultItem.keyword}}</span>
                  {{results.dataToRender.length}}
                </template>
              </div>
              <p-column styleClass="col-button" header="Action">
                <template let-resultItem="rowData" pTemplate="rowexpansion">
                  <a href="javascript:encodeString('test:')" target="_blank">
                    <button class="summaryPageBackground"  type="button" pButton
                            icon="ui-icon-open-in-browser"
                            iconPos="left" title="Open Summary Page"
                    ></button>
                  </a>
                  <a [(href)]="resultItem.landingPage" target="_blank">
                    <button type="button" pButton icon="ui-icon-open-in-new"
                            iconPos="left" class="landingPageBackground" title="Open Landing Page"></button>
                  </a>
                </template>
              </p-column>
              <p-column field="title"
                        [sortable]="true" [filter]="true" header="Title" [style]="{'color':'#000000'}"
                        filterMatchMode="contains"></p-column>
              <p-column field="contactPoint.fn"
                        [sortable]="true" [filter]="true" header="Contact" [style]="{'color':'#000000'}"
                        filterMatchMode="contains"></p-column>
              <p-column field="description" [filter]="true" header="Description"
                        expander="true"
                        filterMatchMode="contains">
                <template let-col let-resultItem="rowData" pTemplate type="body">
                  <span class="glimpse-content">{{resultItem[col.field]}}</span>
                </template>
              </p-column>
              <p-column field="keyword" [filter]="true"  header="Keywords" expander="true"
                        filterMatchMode="contains">
                <template let-col let-resultItem="rowData" pTemplate type="body">
                  <span class="glimpse-content">{{resultItem[col.field]}}</span>
                </template>
              </p-column>
              <p-column field="modified" filterMatchMode="contains"
                        [sortable]="true" [filter]="true" header="Date Modified"></p-column>
            </p-dataTable>
          </div>
          <div *ngIf="filteredResults.length>10">
            <p-dataTable
              expandableRows="true"
              #results [value]="filteredResults"
              [rows]="10" [paginator]="true" [responsive] = "true" paginatorPosition = "top" [rowsPerPageOptions]="[10,20,50]" [pageLinks]="10"
              sortMode="multiple" >
              <header>
                <div style="text-align:left">
                  <p-multiSelect [options]="columnOptions"  defaultLabel="Select Columns"  [style]="{'display':'table-caption','width':'150px'}" [(ngModel)]="cols"></p-multiSelect>
                </div>
                <div>
                  <button  type="button" pButton icon="ui-icon-file-download"
                           iconPos="left"
                           label="CSV"
                           (click)='results.exportCSV()'
                           class="divExpCSV"></button>
                  <span class="spanResults">&nbsp;&nbsp;
              {{filteredResults.length}} Result(s)</span>
                </div>
              </header>
              <div class="Container">
                <template let-resultItem pTemplate="rowexpansion">
                  <span><b>Description</b> : {{resultItem.description}}</span><br>
                  <div class="EmptyBox10"></div>
                  <span><b>Keywords</b> : {{resultItem.keyword}}</span>
                </template>
              </div>
              <p-column styleClass="col-button "  header="Action">
                <template let-resultItem="rowData" pTemplate type="body">
                  <a href="#" (click)="encodeString('/#/search/',resultItem.resId)" target="_blank">
                    <button class="summaryPageBackground"  type="button" pButton
                            icon="ui-icon-open-in-browser"
                            iconPos="left" title="Open Summary Page"
                    ></button>
                  </a>
                  <a [(href)]="resultItem.landingPage" target="_blank">
                    <button type="button" pButton icon="ui-icon-open-in-new"
                            iconPos="left" class="landingPageBackground" title="Open Landing Page"></button>
                  </a>
                </template>
              </p-column>
              <p-column field="title"
                        [sortable]="true" [filter]="true" header="Title" [style]="{'color':'#000000'}"
                        filterMatchMode="contains"></p-column>
              <p-column field="contactPoint.fn"
                        [sortable]="true" [filter]="true" header="Contact" [style]="{'color':'#000000'}"
                        filterMatchMode="contains"></p-column>
              <p-column field="description" [filter]="true" header="Description"
                        expander="true"
                        filterMatchMode="contains">
                <template let-col let-resultItem="rowData" pTemplate type="body">
                  <span class="glimpse-content">{{resultItem[col.field]}}</span>
                </template>
              </p-column>
              <p-column field="keyword" [filter]="true"  header="Keywords"  expander="true"
                        filterMatchMode="contains">
                <template let-col let-resultItem="rowData" pTemplate type="body">
                  <span class="glimpse-content">{{resultItem[col.field]}}</span>
                </template>
              </p-column>
              <p-column field="modified" filterMatchMode="contains"
                        [sortable]="true" [filter]="true" header="Date Modified"></p-column>
              <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
            </p-dataTable>
          </div>
          </div>
          </div>
      </div>
    </div>
</div>
