<div class="card" *ngIf="summaryPageOpen == true">
  <h1 class=" TexAlCenter" >Full Record</h1>
  <div class="EmptyBox20"></div>
  <div *ngFor="let summaryCandidate of filteredResults">
    <p-accordion [multiple]="true">
      <p-accordionTab header="Summary" [selected] = "true">
        <div class="ui-grid ui-grid-responsive  ui-grid-forms ui-fluid ui-grid-pad ">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2"><b>Title</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.title}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label"><b>Description</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.description}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label "><b>Keywords</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.keyword}}
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label"><b>Last Updated Date</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.modified}}
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label"><b>Home Page URL</b>
            </div>
            <div class="ui-grid-col-10">
              <a target="_blank" [(href)]="summaryCandidate.landingPage">{{summaryCandidate.landingPage}}</a>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label"><b>Download Full Record</b>
            </div>
            <div class="ui-grid-col-10">
              <a href="http://10.200.222.248:8082/RMMApi/records/advancedsearch?identifier={{summaryCandidate.identifier}}" target="_blank" > JSON</a>
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Contact" [selected] = "true">
        <div class="ui-grid ui-grid-responsive  ui-grid-forms ui-fluid ui-grid-pad ">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label"><b>Contact</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.contactPoint.fn}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2"><b>Contact Email</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.contactPoint.hasmail}}
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Record Info" [selected] = "true">
        <div class="ui-grid ui-grid-responsive  ui-grid-forms ui-fluid ui-grid-pad ">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2"><b>Unique Identifier</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.identifier}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label"><b>Bureau Code</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.bureauCode}}
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label"><b>Program Code</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.programCode}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label"><b>Update Frequency</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.accrualPeriodicity}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2"><b>Language</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.language}}
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Data Access" [selected] = "true">
        <div class="ui-grid ui-grid-responsive  ui-grid-forms ui-fluid ui-grid-pad ">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2"><b>Access Level</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.accessLevel}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label"><b>Rights</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.rights}}
            </div>
          </div>

          <div class="ui-grid-row">
              <div class="ui-grid-col-2 label"><b>Download URL</b>
              </div>
              <div class="ui-grid-col-10" *ngIf="summaryCandidate.distribution != null">

                <a target="_blank" [(href)]="summaryCandidate.distribution[0].downloadURL">
                  {{summaryCandidate.distribution[0].downloadURL}}
                </a>
              </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label"><b>Access URL</b>
            </div>
            <div class="ui-grid-col-10" *ngIf="summaryCandidate.distribution != null">
              <a target="_blank" [(href)]="summaryCandidate.distribution[0].accessURL">
                {{summaryCandidate.distribution[0].accessURL}}
              </a>
            </div>
          </div>

          <div class="ui-grid-row">
              <div class="ui-grid-col-2 label "><b>Format</b>
              </div>
              <div class="ui-grid-col-10" *ngIf="summaryCandidate.distribution != null">
                  {{summaryCandidate.distribution[0].format}}
              </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Publication Info" [selected] = "true">
        <div class="ui-grid ui-grid-responsive  ui-grid-forms ui-fluid ui-grid-pad ">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2"><b>Category</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.theme}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label"><b>Publications</b>
            </div>
            <div class="ui-grid-col-10">
              <a target="_blank" [(href)]="summaryCandidate.references">
                {{summaryCandidate.references}}
              </a>
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label"><b>Dataset update date</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.issued}}
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-2 label "><b>Publisher</b>
            </div>
            <div class="ui-grid-col-10">
              {{summaryCandidate.publisher.name}}
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
<p-messages [value]="msgs"></p-messages>

<div *ngIf="summaryPageOpen != true" >
  <div class="ui-grid ui-grid-responsive ui-grid-forms ui-fluid ui-grid-pad ">
    <div class="ui-grid-row TexAlCenter">

      <div class="ui-grid-col-2">
        <p-dropdown
          [options]="taxonomies" [(ngModel)]="searchTaxonomyKey" [scrollHeight]="'400px'"
          [style]="{'width':'100%', 'margin':'0px 0px 5px 0px'}" [styleClass]="Fleft"
        ></p-dropdown>
      </div>
      <div class="ui-grid-col-10">
        <input type="text" pInputText [(ngModel)]="searchValue" (keyup.enter)="search(searchValue,searchTaxonomyKey)"
               placeholder="Search..."
        />
      </div>
      <div class="ui-grid-col-1">
        <button
          (click)="search(searchValue,searchTaxonomyKey)" pButton label="Search"
          type="button" class="custButton Wid100" icon="ui-icon-search"></button>
      </div>
    </div>
  </div>
    <div *ngIf="searching">

    <div class="ui-g " >
      <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid " >
        <div class="card">
        <p-panel header="Filters">
          <div class="ui-g">
            <div class="ui-g-12">
              <label>Contact</label>
              <div *ngIf="selectedAuthorDropdown == false">
                <p-autoComplete id="contact" [(ngModel)]="selectedAuthor" [suggestions]="suggestedAuthors"
                                (completeMethod)="filterAuthors($event)" [size]="30" [minLength]="1"
                                [dropdown]="true" (onDropdownClick)="onAuthorDropdownClick($event)"
                                (onSelect)="filterResults($event,'Author')">
                </p-autoComplete>
              </div>
              <div *ngIf="selectedAuthorDropdown == true">
                    <span>{{selectedAuthor}}</span>
                    <i style="vertical-align: middle" (click)="clearAuthorFilter()" class="material-icons"> clear
                    </i>
              </div>
            </div>
            <div class="ui-g-12">
              <label>Keyword</label>
              <p-autoComplete id="keyword" [(ngModel)]="selectedKeywords" [suggestions]="suggestedKeywords"
                              (completeMethod)="filterKeywords($event)"
                              [multiple]="true" [size]="30"
                              (onSelect)="filterResults($event)"
                              (onUnselect)="filterResults($event)"
                              [minLength]="1" [maxlength] = "30">
              </p-autoComplete>
            </div>
            <div class="ui-g-12">
              <label>Research Topics</label>

              <p-autoComplete id="theme" [(ngModel)]="selectedThemes" [suggestions]="suggestedThemes"
                              (completeMethod)="filterThemes($event)" [size]="30"
                              [minLength]="1" [multiple]="true"
                              (onSelect)="filterResults($event)"
                              (onUnselect)="filterResults($event)">
              </p-autoComplete>

            </div>
          </div>
          <button type="button" (click)="clearFilters()" label="Clear All" icon="ui-icon-clear-all" pButton></button>
        </p-panel>
          </div>
      </div>

      <!-- Section 1 -->

      <div class="ui-g-12 ui-md-8 ">

        <div class="card">
          <div *ngIf="filteredResults.length > 0">
            <button  type="button" pButton icon="ui-icon-file-download"
                    iconPos="left"
                    label="CSV"
                    (click)='results.exportCSV()'
                    class="divExpCSV"></button>
            <span class="spanResults">&nbsp;&nbsp;
                    {{filteredResults.length}} Result(s)</span>
          </div>
          <div *ngIf="filteredResults.length<=10">
            <p-dataTable
              expandableRows="true"
              #results [value]="filteredResults"
              [rows]="10" [paginator]="true" [responsive] = "true" [paginatorPosition]="bottom" [pageLinks]="10"
               sortMode="multiple" >
              <div class="Container">
                <template let-resultItem pTemplate type="body">
                  <span><b>Description</b> : {{resultItem.description}}</span><br>
                  <div class="EmptyBox10"></div>
                  <span><b>Keywords</b> : {{resultItem.keyword}}</span>
                </template>
              </div>
              <p-column styleClass="col-button " [style]="{'width':'100px'}" header="Action">
                <template let-resultItem="rowData" pTemplate type="body">
                  <a href="/#/search?identifier={{resultItem.identifier}}" target="_blank">
                    <button class="summaryPageBackground"  type="button" pButton
                            icon="ui-icon-open-in-browser"
                            iconPos="left" title="Open Summary Page"
                    ></button>
                  </a>
                  <a [(href)]="resultItem.landingPage" target="_blank">
                    <button type="button" pButton icon="ui-icon-open-in-new"
                            iconPos="left" class="landingPageBackground" title="Open Landing Page"></button>
                  </a>
                </template>
              </p-column>
              <p-column field="title"
                        [sortable]="true" [filter]="true" header="Title" [style]="{'color':'#000000'}"
                        filterMatchMode="contains"></p-column>
              <p-column field="contactPoint.fn"
                        [sortable]="true" [filter]="true" header="Contact" [style]="{'color':'#000000'}"
                        filterMatchMode="contains"></p-column>
              <p-column field="description" [filter]="true" [style]="{'width':'150px'}"  header="Description"
                        expander="true"
                        filterMatchMode="contains">
                <template let-col let-resultItem="rowData" pTemplate type="body">
                  <span class="glimpse-content">{{resultItem[col.field]}}</span>
                </template>
              </p-column>
              <p-column field="keyword" [filter]="true" [style]="{'width':'150px'}"  header="Keywords" expander="true"
                        filterMatchMode="contains">
                <template let-col let-resultItem="rowData" pTemplate type="body">
                  <span class="glimpse-content">{{resultItem[col.field]}}</span>
                </template>
              </p-column>
              <p-column field="modified" [style]="{'width':'150px'}" filterMatchMode="contains"
                        [sortable]="true" [filter]="true" header="Date Modified"></p-column>
            </p-dataTable>
          </div>
          <div *ngIf="filteredResults.length>10">
            <p-dataTable
              expandableRows="true"
              #results [value]="filteredResults"
              [rows]="10" [paginator]="true" [responsive] = "true" [rowsPerPageOptions]="[10,20,50]" [paginatorPosition]="bottom" [pageLinks]="10"
              sortMode="multiple" >
              <div class="Container">
                <template let-resultItem pTemplate type="body">
                  <span><b>Description</b> : {{resultItem.description}}</span><br>
                  <div class="EmptyBox10"></div>
                  <span><b>Keywords</b> : {{resultItem.keyword}}</span>
                </template>
              </div>
              <p-column styleClass="col-button " [style]="{'width':'100px'}" header="Action">
                <template let-resultItem="rowData" pTemplate type="body">
                  <a href="/#/search?identifier={{resultItem.identifier}}" target="_blank">
                    <button class="summaryPageBackground"  type="button" pButton
                            icon="ui-icon-open-in-browser"
                            iconPos="left" title="Open Summary Page"
                    ></button>
                  </a>
                  <a [(href)]="resultItem.landingPage" target="_blank">
                    <button type="button" pButton icon="ui-icon-open-in-new"
                            iconPos="left" class="landingPageBackground" title="Open Landing Page"></button>
                  </a>
                </template>
              </p-column>
              <p-column field="title"
                        [sortable]="true" [filter]="true" header="Title" [style]="{'color':'#000000'}"
                        filterMatchMode="contains"></p-column>
              <p-column field="contactPoint.fn"
                        [sortable]="true" [filter]="true" header="Contact" [style]="{'color':'#000000'}"
                        filterMatchMode="contains"></p-column>
              <p-column field="description" [filter]="true" [style]="{'width':'150px'}"  header="Description"
                        expander="true"
                        filterMatchMode="contains">
                <template let-col let-resultItem="rowData" pTemplate type="body">
                  <span class="glimpse-content">{{resultItem[col.field]}}</span>
                </template>
              </p-column>
              <p-column field="keyword" [filter]="true"  header="Keywords" [style]="{'width':'150px'}"  expander="true"
                        filterMatchMode="contains">
                <template let-col let-resultItem="rowData" pTemplate type="body">
                  <span class="glimpse-content">{{resultItem[col.field]}}</span>
                </template>
              </p-column>
              <p-column field="modified" [style]="{'width':'150px'}" filterMatchMode="contains"
                        [sortable]="true" [filter]="true" header="Date Modified"></p-column>
            </p-dataTable>
          </div>
          </div>
          </div>
      </div>
    </div>
