:host {
  display: block;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

.background-white {
  background-color:#ffffff;
}

.center
{
  align: center;
}

.divPad
{
  padding: 50px 100px 50px 100px;
}

.cardDiv:hover{
  color: #1471AE;
  border:1px solid;
}

.api:hover
{
  background-color: #112E51;
  color: #fff;
}

.api
{
  background-color:#0872B9 !important;
  color: #fff;
  width: fit-content;
  padding-bottom: .5em;
  margin: 1em 0em 0em 1em !important;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

:host /deep/ .breadcrumb {
  background-color: #153971;
}

.breadCrumb-text {
  color: #fff;
  font-weight: 300;
}

.main-image{
  float: right; 
  padding: 0em 2em 1em 2em; 
  margin: auto;
}

/* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}