:host {
  display: block;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

.background-white {
  background-color:#ffffff;
}

.center
{
  align: center;
}

.divPad
{
  padding: 50px 100px 50px 100px;
}

.cardDiv:hover{
  color: #1471AE;
  border:1px solid;
}

.api:hover
{
  background-color: #808080;
  color: #fff;
}

.api
{
  background-color:#595959;
  color: #fff;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

