<!--

<div [ngClass]="{'layout-wrapper':true,'layout-compact':layoutCompact}">

  <div [ngClass]="{'layout-container':true,'menu-layout-static':(layoutMode=='static'||layoutMode=='horizontal'),
            'menu-layout-overlay':(layoutMode=='overlay'),'menu-layout-horizontal':(layoutMode=='horizontal')}">
    <div class="topbar clearfix header__inner header__logo divHeight30 ">
      <div class="divHeight30">
        <a href="/" title="National Institute of Standards and Technology" class="header__logo-link" rel="home">
          <img srcset="./assets/images/nist-logo-2x.png" alt="National Institute of Standards and Technology"
               title="National Institute of Standards and Technology" >
        </a>
      </div>

      <div class="topbar-right">
        <a id="menu-button" href="#" class="Fright" >
          <i class="material-icons divColorBlack" ></i>
        </a>
      </div>
    </div>
  </div>
</div>
-->
