<style id="antiClickjack">
  body {
    display: none !important;
  }
</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>

<div class="ui-g" style="width: 100%;background-color: #153971;color: #FFFFFF">
<div class="ui-g-12" style="padding-left:2.5em;padding-right: 2.5em;padding-top: 2.5em">
  <label style="font-size: xx-large;float: left;display: block;"><i class="faa faa-book faa-lg"></i> Policy</label>
  <ol class="breadcrumb" style="float: right;">
    <li><a href="#" style="color: #1f4b71;">Home</a></li>
    <li class="active breadCrumb-black" >About</li>
    <li class="active breadCrumb-black">Policy</li>
  </ol>
</div>
</div>


<div class="card">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p>
          In accordance with U.S. Government Open Data Policy and the <a href="https://www.nist.gov/open" target="_blank">NIST Plan</a> for providing public access to
          the results of federally funded research data, NIST maintains a publicly accessible listing of available data, the
          NIST Public Dataset List <a href="https://www.nist.gov/sites/default/files/data.json" target="_blank">(json)</a>.
        </p>
        <p>
          The government open data policy for managing information as an asset may be found on the <a href="https://project-open-data.cio.gov/" target="_blank">Project Open Data </a> website.
        </p>
        <p>
          Please refer to the <a href="https://www.nist.gov/pao/nist-open-data-strategy-implementation-and-processes" target="_blank">
          NIST Open Data Strategy for Implementation and Processes </a> for additional organizational detailed description.
        </p>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-1">
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-4">
        <img class="Fleft" srcset="./assets/images/policies.png"  >

      </div>
    </div>
  </div>
</div>

