.background-white
{
	background-color:#ffffff;
}

.background-blue
{
  background-color :#2c539e;
}

.custButton
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
background: #2c539e; /* Old browsers */
background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */

}
.button {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444;
  cursor: pointer;
}

.cardDiv:hover{
  height:75px;
  background-color: #0071BC;
  color: #fff;
  border: 1px solid #0071BC;
}

.cardDiv
{
 /* background-color: #1471AE;*/
  height:75px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
   background-color: #fff;
  color: #112e51;
  font-weight:900;
  text-align: center;
  vertical-align: middle;
  border-radius: 0em;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: .2px solid #666;
  padding-bottom: -1px;
  margin: 1.25rem 0;
}

.searchButton{
  background-color:#0872B9;
  width: 100%;
  height: 42px;
  font-weight: 900;
  font-size: 18px;
  border-radius: 0px;
  /*
  border-radius-topright: 5px;
  border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  */
}

.searchButton:hover{
  background-color:#1F5593;
}

.header {
 /* background-color: #205493;*/
  color: #FFFFFF
}

.background-gray {
  background-color: #EFEFEF;
}

.background-grey {
  background-color: #dce4ef;
}

.toggle {
  background-color: #FFFFFF;
  border:.1px solid #e0e0e0;
  height: 42px;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  border-radius: 0px;
  vertical-align: middle;
}

.title
{
  font-size: 30.0px;font-weight: 400;
}

.subTitle
{
  font-size: 20.0px;font-weight: 400;
}

.color-green {
  color: #257A2D;
}

.glyphiconText {
  color: gray;
  display: flex;
  align-items:center;
  vertical-align:middle;
  border-color: #bdbdbd;
  padding-left:40px;
  border-width: 1px 1px 1px 1px;
}

.searchTextPadding {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px
}

.examples {
  color: #fff;
  text-decoration: underline;
}

.examplesLabel {
  color: #fff;
}

.cardDivHeight {
  height: 75px;
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
}

.cardDecoration {
  text-decoration: none
}

.noTopPadding {
}

.frontPanel {
  /*width:100%;*/
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.background-cyanblue {
  background-color: #0872b9;
}

.feature-divider {
  width:40px;
  height:2px;
  color: #112E51;
  background-color: #112E51;
  margin:auto;
  font-weight: 900;
  margin-top: 10px;
}

.feature-data-domain-divider {
  margin: auto;
}

.advancedSearch-link {
  color: #fff;
  text-decoration: underline;
  display:table-cell;
  vertical-align: middle;
}

.feature-data-spacer {
  margin-bottom: 50px;
}

.search-panel-spacer {
  margin-bottom: 90px
}

.search-container {
  max-width:600px;
}

.search-input-container {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

@media screen and (min-width: 901px) {
  button.searchButton {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  button.searchButton {
    font-size: 15px;
  }
}

@media screen and (min-width: 1301px) {
  p-dropdown {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  p-dropdown {
    font-size: 13px;
  }
}

@media screen and (min-width: 1301px) {
  p-autoComplete {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  p-autoComplete {
    font-size: 13px;
  }
}