.background-white
{
	background-color:#ffffff;
}

.background-blue
{
  background-color :#2c539e;
}

.custButton
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
background: #2c539e; /* Old browsers */
background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */

}
.button {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444;
  cursor: pointer;
}

.cardDiv:hover{
  background-color: #283593;
}

.cardDiv
{
  background-color: #1471AE;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: .2px solid #666;
  padding-bottom: -1px;
  margin: 1.25rem 0;
}
