
.sdp-search-full {
    margin-top:10px;
}

.sdp-search-results-panel{
    margin:10px 10px 10px 10px;
}

.search-result-top{

}



.sdp-search-widget {
    margin-top:10px;
}

.sdp-search-input {
    width:500px;
}

.sdp-search-filter {
 }

:host {
    display: block;
}

#pages,
#pages> * {
    position: relative;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
}
