.header__inner {
    /*background-color: white;*/
    background: white;
    color: black;
}

.header__logo {
    display: inline-block;
    padding: 22px 0px 22px 22px;
}

.header__logo-link {
    display: block;
}

.header__logo a img {
    width: 289px;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
}

.divHeight30
{
  height: 35px;
}

.divColorBlack
{
  color: #000000;
}
