<app-search-panel
  title="NIST Data Discovery"
  [subtitle]="true"
  [helpicon]="false"
  [advanceLink]="true"
  [homePage]="true"
  jumbotronHeight="30vh"
  jumbotronPadding="1.5em 3em 0em 3em"
></app-search-panel>

<div class="themes-container">
  <!-- First row of 5 cards -->
  <div class="theme-row">
    <!-- CHIPS -->
    <div class="theme-item">
      <div class="effect1 theme-card">
        <app-topic
          [title]="themes.chips.title"
          [description]="themes.chips.description"
          [image]="getImageFullPath(themes.chips.image)"
          (cardClick)="search('CHIPS')"
          [icon]="getIconFullPath(themes.forensics.icon)"
          [showIcon]="true"
          [link]="chipsURL"
        ></app-topic>
      </div>
    </div>

    <!-- Manufacturing -->
    <div class="theme-item">
      <div class="effect1 theme-card">
        <app-topic
          [title]="themes.manufacturing.title"
          [description]="themes.manufacturing.description"
          [image]="getImageFullPath(themes.manufacturing.image)"
          (cardClick)="search('Manufacturing')"
        ></app-topic>
      </div>
    </div>

    <!-- Additive Manufacturing -->
    <div class="theme-item">
      <div class="effect1 theme-card">
        <app-topic
          [title]="themes.additiveManufacturing.title"
          [description]="themes.additiveManufacturing.description"
          [image]="getImageFullPath(themes.additiveManufacturing.image)"
          (cardClick)="search('Additive Manufacturing')"
        ></app-topic>
      </div>
    </div>

    <!-- Forensics -->
    <div class="theme-item">
      <div class="effect1 theme-card">
        <app-topic
          [title]="themes.forensics.title"
          [description]="themes.forensics.description"
          [image]="getImageFullPath(themes.forensics.image)"
          [icon]="getIconFullPath(themes.forensics.icon)"
          (cardClick)="search('Forensics')"
          [showIcon]="true"
          [link]="forensicsURL"
        ></app-topic>
      </div>
    </div>

    <!-- Math & Statistics -->
    <div class="theme-item">
      <div class="effect1 theme-card">
        <app-topic
          [title]="themes.ms.title"
          [description]="themes.ms.description"
          [image]="getImageFullPath(themes.ms.image)"
          (cardClick)="search('MS')"
        ></app-topic>
      </div>
    </div>
  </div>

  <!-- Second row of 5 cards -->
  <div class="theme-row">
    <!-- Materials -->
    <div class="theme-item">
      <div class="effect1 theme-card">
        <app-topic
          [title]="themes.Materials.title"
          [description]="themes.Materials.description"
          [image]="getImageFullPath(themes.Materials.image)"
          (cardClick)="search('Materials')"
        ></app-topic>
      </div>
    </div>

    <!-- Chemistry -->
    <div class="theme-item">
      <div class="effect1 theme-card">
        <app-topic
          [title]="themes.Chemistry.title"
          [description]="themes.Chemistry.description"
          [image]="getImageFullPath(themes.Chemistry.image)"
          (cardClick)="search('Chemistry')"
        ></app-topic>
      </div>
    </div>

    <!-- IT -->
    <div class="theme-item">
      <div class="effect1 theme-card">
        <app-topic
          [title]="themes.it.title"
          [description]="themes.it.description"
          [image]="getImageFullPath(themes.it.image)"
          (cardClick)="search('IT')"
        ></app-topic>
      </div>
    </div>

    <!-- Physics -->
    <div class="theme-item">
      <div class="effect1 theme-card">
        <app-topic
          [title]="themes.Physics.title"
          [description]="themes.Physics.description"
          [image]="getImageFullPath(themes.Physics.image)"
          (cardClick)="search('PN')"
        ></app-topic>
      </div>
    </div>

    <!-- Communications -->
    <div class="theme-item">
      <div class="effect1 theme-card">
        <app-topic
          [title]="themes.Communications.title"
          [description]="themes.Communications.description"
          [image]="getImageFullPath(themes.Communications.image)"
          (cardClick)="search('AC')"
        ></app-topic>
      </div>
    </div>
  </div>
</div>

