<app-search-panel title='NIST Data Discovery' [subtitle]='true' [helpicon]='false' [advanceLink]='true' [homePage]='true' jumbotronHeight='40vh' jumbotronPadding='2em 3em 0em 3em'></app-search-panel>

<div class="p-col" style="background-color: #F5F5F5;padding-top: 10px;">
  <div id="feature" class="p-col-12 p-md-8 p-lg-8 featured-data"> <b>FEATURED DATA DOMAINS</b>
    <div class="feature-data-domain-divider">
      <hr class="feature-divider">
    </div>
  </div>
</div>
<div style="background-color: #F5F5F5">
    <div class="grid">
      <!-- <div class="grid form-group" style="margin-bottom: 0em"> -->
        <div class="col-2">
        </div>
        <div class="col-2 md:col-4">
          <div (click)="search('IT')" class="cardDecoration" style="cursor: pointer">
            <div class="card overview cardDiv cardDivHeight">
              <div class="overview-content clearfix">
                <span class="overview-title"><b>INFORMATION TECHNOLOGY</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 p-md-2">
          <div (click)="search('MS')" class="cardDecoration" style="cursor: pointer">
            <div class="card overview cardDiv cardDivHeight">
              <div class="overview-content clearfix">
                <span class="overview-title"><b>MATHEMATICS AND STATISTICS</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 p-md-2">
          <div (click)="search('Manufacturing')" class="cardDecoration" style="cursor: pointer">
            <div class="card overview cardDiv cardDivHeight">
              <div class="overview-content clearfix">
                <span class="overview-title"><b>MANUFACTURING</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 p-md-2">
          <div (click)="search('Forensics')" class="cardDecoration" style="cursor: pointer">
            <div class="card overview cardDiv cardDivHeight">
              <div class="overview-content clearfix">
                <span class="overview-title"><b>FORENSICS</b></span>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
</div>
<div style="background-color: #F5F5F5; padding-bottom: 0.1em;">
    <!-- <div class="grid noTopPadding"> -->
      <div class="grid form-group feature-data-spacer">
        <div class="col-2 p-md-2 ">
        </div>
        <div class="col-2 p-md-2">
          <div (click)="search('Materials')" class="cardDecoration" style="cursor: pointer">
            <div class="card overview cardDiv cardDivHeight">
              <div class="overview-content clearfix">
                <span class="overview-title"><b>MATERIALS</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 p-md-2">
          <div (click)="search('PN')" class="cardDecoration" style="cursor: pointer">
            <div class="card overview cardDiv cardDivHeight">
              <div class="overview-content clearfix">
                <span class="overview-title"><b>PHYSICS AND NEUTRON</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 p-md-2">
          <div (click)="search('AC')" class="cardDecoration" style="cursor: pointer">
            <div class="card overview cardDiv cardDivHeight">
              <div class="overview-content clearfix">
                <span class="overview-title"><b>ADVANCED COMMUNICATIONS</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 p-md-2">
          <div (click)="search('Chemistry')" class="cardDecoration" style="cursor: pointer">
            <div class="card overview cardDiv cardDivHeight">
              <div class="overview-content clearfix">
                <span class="overview-title"><b>CHEMISTRY</b></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
</div>