.background-white
{
	background-color:#ffffff;
}

.background-blue
{
  background-color :#2c539e;
}

.custButton
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
background: #2c539e; /* Old browsers */
background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: .2px solid #666;
  padding-bottom: -1px;
  margin: 1.25rem 0;
}

.title
{
  font-size: 30.0px;font-weight: 400;
  display:inline;
}

.subTitle
{
  font-size: 20.0px;
  font-weight: 300;
  line-height: 20px;
  margin: .5em auto 1em;
}

.examples {
  /* color: #fff; */
  text-decoration: underline;
}

.examplesLabel {
  color: #fff;
}

@media screen and (min-width: 901px) {
  button.searchButton {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  button.searchButton {
    font-size: 15px;
  }
}

@media screen and (min-width: 1301px) {
  p-dropdown {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  p-dropdown {
    font-size: 13px;
  }
}

@media screen and (min-width: 1301px) {
  p-autoComplete {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  p-autoComplete {
    font-size: 13px;
  }
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}
  
/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 25px;
}

.adv-link-block {
    display: inline-block;
    vertical-align: bottom !important; 
    margin-left: .3em;
}

.search-box {
    flex-grow: 9;
    margin-left: 0em !important;
    height: 42px;
}

.link-text-white {
    color: #fff;
    text-decoration: underline; 
    font-size: small;
    white-space: nowrap;
    cursor: pointer;
    margin-right: .5em;
}

.link-text {
    color: #1E6BA1;
    text-decoration: underline; 
    white-space: nowrap;
    cursor: pointer;
}

.help-icon {
  color: white; 
  display:inline; 
  font-size: large;
  margin-left: .5em; 
  vertical-align: top; 
  cursor: pointer;
}

body .ui-state-active, body .ui-state-highlight {
    background-color: #03f42b !important;
    color: #ffffff !important; 
}

.bigSearchButton {
    flex-grow: 1;
    margin-top:-1px;
    cursor: pointer;
    text-align: center !important;
    vertical-align: middle !important;
    color: white;
    background-color:#2c539e;
    height:44px;
    padding: 0px;
    min-width: 80px;
}

.bigSearchButton:hover{
    background-color:#3078ca;
}

.full-width {
    display: block;
    width: 100%;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input p-autoComplete { padding-left:  30px;}
.right-addon input { padding-right: 30px; }

.left-addon {
    display: inline-block;
    text-align: left;
    margin-left: 6em;
}

.content {
    text-align: center; 
    color: white;
    width: 100%;
    display: inline-block; 
    /* margin: 0em auto 1em; */
}

.search-panel {
    padding: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 63%;
    width: 100%;
}

.help-wrapper {
    margin:auto;
    margin-top: 1em;
    margin-bottom: .5em;
    background-color: white;
    color: black;
    width:80%;
    // height: 380px;
    border-radius: 5px;
    overflow-y: scroll;
}

table thead {
    background-color: #257a2d;
    color: white;
}

table tbody {
    display: block;
    // max-height: 260px;
    // overflow-y: scroll;
    text-align: left;
    background-color: white;
}

.popup-table tbody {
    display: block;
    max-height: 260px;
    overflow-y: scroll;
    text-align: left;
    background-color: white;
}

table tbody tr td {
    padding-left: 1em;
    border: 1px solid lightgray;
}

table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-wrapper {
    width: 100%;
    padding: 0px 20px 10px 20px;
}

.title-text {
    font-size: 20px;
    padding-top: .5em;
    width: 100%;
    height: 2em;
    background-color: #1471AE;
    color: white;
    margin-bottom: .5em;
}

#underline-text {
    margin: auto; 
    text-align: left;
    line-height: 25px;
    /* margin-top: -10px; */
}

.btn-copy-field {
    float: right;
    margin-right: .5em;
    background-color: #1471AE;
    color: white;
    border-radius: 4px;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    /* line-height: 20px !important; */
    /* margin: -10px -10px -15px 0px;
    padding: 5px 10px; */
}

.btn-copy-field:hover {
    background-color: #3e8e41 !important;
}

.dropdown-content {
    display: block;
    position: absolute;
    margin-top: -1.6em;
    background-color: #f1f1f1;
    opacity: 0.9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.field-item {
    border: none;
    cursor: pointer;

    &:hover {
        background-color: lightgray;
    }
}

.border-bottom {
    border-bottom: 1px solid rgb(105, 105, 105) !important;
}

.operator {
    background-color: rgb(252, 246, 237);
}

#btn-append {
    background-color: green;
    border: 1px solid green;
    border-radius: 0 4px 4px 0;
    color: white;
}

.overlay-input {
    width: 400px;
    border: 1px solid lightgrey;
}

.control-icons {
    color: green;
    background-color: white;
    cursor:pointer;
    margin: .2em .5em .5em 0em !important;
    border-radius: 50%;
    height: 50%;
}

.inner-addon .clear-box {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: rgb(143, 143, 143);
    cursor: pointer;
}

.inner-addon .clear-box2 {
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 15px;
    color: rgb(143, 143, 143);
    cursor: pointer;
}

.sample-line {
    display: block;
    padding-top: .3em;
    margin: auto;
    text-align: left;
    padding-left: 0em;
}

.btn-slim {
    float: left;
    margin: .5em 0 .5em 1.5em;
    height: 20px;
    width: fit-content;
    border-radius: 3px;
    color: white;
    background-color: #3e8e41;
    padding: 0px .5em 0 .5em;
    cursor: pointer;
}

#btn-close {
    background: green;
    border-radius: 50%; 
    color: white;
}