.background-white
{
	background-color:#ffffff;
}

.background-blue
{
  background-color :#2c539e;
}

.custButton
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
background: #2c539e; /* Old browsers */
background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: .2px solid #666;
  padding-bottom: -1px;
  margin: 1.25rem 0;
}

.title
{
  font-size: 30.0px;font-weight: 400;
  display:inline;
}

.subTitle
{
  font-size: 20.0px;
  font-weight: 300;
  line-height: 20px;
  margin: .5em auto 1em;
}

.examples {
  /* color: #fff; */
  text-decoration: underline;
}

.examplesLabel {
  color: #fff;
}

@media screen and (min-width: 901px) {
  button.searchButton {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  button.searchButton {
    font-size: 15px;
  }
}

@media screen and (min-width: 1301px) {
  p-dropdown {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  p-dropdown {
    font-size: 13px;
  }
}

@media screen and (min-width: 1301px) {
  p-autoComplete {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  p-autoComplete {
    font-size: 13px;
  }
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}
  
/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 25px;
}

.adv-link-block {
    display: inline-block;
    vertical-align: bottom !important; 
    margin-left: .3em;
}

.search-box {
    margin-left: 0em !important;
}

.link-text {
    color: #fff;
    text-decoration: underline; 
    font-size: small;
    white-space: nowrap;
    cursor: pointer;
}

.advancedSearch-link {
  color: #fff;
  text-decoration: underline;
  display:table-cell;
  vertical-align: middle;
  font-size: small;
  white-space: nowrap;
  padding-top: 18px;
}

.help-icon {
  color: white; 
  display:inline; 
  font-size: large;
  margin-left: .5em; 
  vertical-align: top; 
  cursor: pointer;
}

.searchBox {
  padding: 0.5em 0em 0em 0em !important;
  margin-bottom: .5em;
}

body .ui-state-active, body .ui-state-highlight {
    background-color: #03f42b !important;
    color: #ffffff !important; 
}

.bigSearchButton {
    display: inline-block;
    margin-top:-2px;
    cursor: pointer;
    text-align: center !important;
    vertical-align: middle !important;
    color: white;
    background-color:#2c539e;
    height:43px;
    padding: 0px;
    min-width: 80px;
}

.bigSearchButton:hover{
    background-color:#3078ca;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input p-autoComplete { padding-left:  30px;}
.right-addon input { padding-right: 30px; }

.left-addon {
    display: inline-block;
    text-align: left;
    margin-left: 6em;
}

.content {
    text-align: center; 
    color: white;
    width: 100%;
    display: inline-block; 
    /* margin: 0em auto 1em; */
}

.search-panel {
    padding: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 63%;
    width: 100%;
}

#help {
    margin:auto;
    margin-top: 1em;
    margin-bottom: .5em;
    background-color: white;
    color: black;
    width:80%;
    height: 300px;
    border-radius: 5px;
}

table thead {
    background-color: #1471AE;
    color: white;
}

table tbody {
    display: block;
    max-height: 200px;
    overflow-y: scroll;
}

table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#table-wrapper {
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}