<p-toast [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="display: flex; align-items: center; margin: 5px">
      <i class="pi pi-info-circle" style="font-size: 30px; padding: 0 10px"></i>
      <div>{{ message.detail }}</div>
    </div>
  </ng-template>
</p-toast>

<div>
  <div class="content-wrapper p-d-flex p-jc-center" style="margin-top: 1em">
    <div>
      <h3 *ngIf="title" class="heading title has-text-black">{{ title }}</h3>
      <!-- <p-button
        *ngIf="title"
        class="ml-3"
        style="position: relative; top: 3px"
        severity="success"
        [raised]="true"
        [rounded]="true"
        size="small"
        (click)="showDialog()"
        icon="pi pi-code"
        label="DEV"
      ></p-button>
      <p-dialog
        header="Work In Progress"
        [(visible)]="visible"
        [style]="{ width: '50vw' }"
      >
        <p style="text-align: left">
          This is a development version of the NIST Data Discovery. <br />
          We are redesigning every aspect of the application to make it more
          user friendly and to provide a better user experience. As of now, only
          this home page is available. Other pages and features will be added
          soon. <br />
          Please provide your feedback by emailing mehdi[at]nist[dot]gov.
        </p>
      </p-dialog> -->
      <a *ngIf="helpicon" [routerLink]="['/help']" target="_blank">
        <i
          class="pi pi-question-circle help-icon"
          data-toggle="tooltip"
          title="How to build Advanced Search Queries"
        ></i>
      </a>
      <p *ngIf="subtitle" class="TexAlCenter subTitle">
        <i>
          Explore data, tools, and resources for Science, Engineering,
          Technology and
          <a href="" [routerLink]="['/about']"><u>more.</u></a>
        </i>
      </p>

      <div class="p-inputgroup search-input-group">
        <span
          class="p-inputgroup-addon search-addon external-toggle-help"
          role="button"
          tabindex="0"
          [attr.title]="externalHelperText"
          aria-label="What external products do"
          (click)="openExternalInfo()"
          (keydown.enter)="openExternalInfo()"
          (keydown.space)="openExternalInfo()"
        >
          <i class="pi pi-question-circle"></i>
        </span>

        <span
          class="p-inputgroup-addon search-addon external-toggle-addon"
          role="button"
          tabindex="0"
          aria-label="Include external products"
          [attr.aria-pressed]="includeExternalProducts"
          (click)="onExternalToggle(!includeExternalProducts)"
          (keydown.enter)="onExternalToggle(!includeExternalProducts)"
          (keydown.space)="onExternalToggle(!includeExternalProducts)"
        >
          <i class="pi pi-share-alt external-toggle__icon"></i>
          <span
            class="external-toggle__track external-toggle__track--compact"
            [class.external-toggle__track--on]="includeExternalProducts"
          >
            <span class="external-toggle__dot"></span>
          </span>
        </span>

        <p-autoComplete
          pInputText
          p-fluid
          #audocomp
          [autoOptionFocus]="false"
          inputStyleClass="search-input"
          (onFocus)="clearText()"
          (onBlur)="addPlaceholder()"
          [placeholder]="placeholder"
          [(ngModel)]="searchValue"
          inputId="searchinput"
          name="searchinput"
          (keyup.enter)="
            audocomp.handleDropdownClick();
            search(searchValue, searchTaxonomyKey)
          "
          (ngModelChange)="onSearchValueChange()"
          [suggestions]="suggestedTaxonomyList"
          (completeMethod)="filterTaxonomies($event)"
          [emptyMessage]="getEmptyMessage()"
          [showEmptyMessage]="shouldShowEmptyMessage()"
          [minLength]="1"
          [maxlength]="2048"
          [style]="{ width: '100%' }"
        >
          <ng-template let-taxonomy pTemplate="item">
            <div
              class="autoComplete autocompleteItem"
              style="color: white; text-align: left; margin-left: 40px"
            >
              {{ taxonomy }}
            </div>
          </ng-template>
        </p-autoComplete>
        <span
          class="p-inputgroup-addon search-addon"
          (click)="hideAllHelp(); search(searchValue, searchTaxonomyKey)"
        >
          <i class="pi pi-search"></i>
        </span>
        <span
          class="p-inputgroup-addon search-addon"
          (click)="clearSearchBox()"
        >
          <i class="pi pi-times"></i>
        </span>
        <span
          class="p-inputgroup-addon search-addon search-addon--info"
          (click)="toggleExamplesPanel()"
          tabindex="0"
          role="button"
          (keydown)="onInfoKeydown($event)"
        >
          <i class="pi pi-info-circle"></i>
        </span>
      </div>

      <div
        style="width: 100%; text-align: left; color: rgb(255, 162, 162)"
        *ngIf="queryStringError"
        [innerHTML]="queryStringErrorMessage"
      ></div>
    
      <!-- 
      <div class="p-d-flex p-jc-between" style="margin-top: 1em">
        <span
          id="example"
          *ngIf="!showExampleStatus"
          (click)="searchQueryService.setShowExamples(true)"
          style="padding-left: 1em; cursor: pointer; text-decoration: underline"
          >Show Examples</span
        >
        <a
          *ngIf="showExampleStatus"
          (click)="searchQueryService.setShowExamples(false)"
          style="padding-left: 1em; cursor: pointer; text-decoration: underline"
          >Hide Examples</a
        >
         <a
          *ngIf="advanceLink"
          [routerLink]="['/advanced']"
          style="padding-left: 1em"
          (click)="searchQueryService.setShowExamples(false)"
          >Advanced Queries</a
        > 
      </div>
      -->
    </div>
  </div>

  <p-dialog
    class="examples-dialog"
    header="Search Examples"
    [(visible)]="examplesDialogVisible"
    [modal]="true"
    [dismissableMask]="true"
    [style]="{ width: 'min(760px, 92vw)' }"
    (onHide)="closeExamples()"
  >
    <div class="examples-dialog__body">
      <p class="examples-dialog__hint">
        Click any example to prefill the search bar. Use logical operators and
        field qualifiers to craft precise queries tailored to the NIST catalog.
      </p>
      <div class="examples-dialog__table">
        <p-table [value]="syntaxRules" class="p-datatable">
          <ng-template pTemplate="header">
            <tr>
              <th>Search Criteria</th>
              <th>Keyword Examples</th>
              <th>Description</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rule>
            <tr>
              <td>{{ rule.criteria }}</td>
              <td>
                <a
                  class="examples"
                  (click)="
                    $event.preventDefault(); setSearchValue(rule.example)
                  "
                  >{{ rule.example }}</a
                >
              </td>
              <td>{{ rule.description }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="examples-dialog__actions">
        <button
          pButton
          type="button"
          label="Close"
          icon="pi pi-times"
          class="p-button-text"
          (click)="closeExamples()"
        ></button>
      </div>
    </div>
  </p-dialog>

  <p-dialog
    header="External products"
    [(visible)]="externalInfoVisible"
    [modal]="true"
    [dismissableMask]="true"
    [style]="{ width: 'min(520px, 92vw)' }"
    styleClass="external-info-dialog"
    (onHide)="closeExternalInfo()"
  >
    <div class="external-info">
      <p class="external-info__lead">
        Include open-source projects (and soon patents/papers) alongside NIST resources. Filters and counts will blend them into your results.
      </p>
      <div class="external-info__pills">
        <span class="external-pill">
          <i class="pi pi-github"></i>
          NIST GitHub code
        </span>
        <span class="external-pill">
          <i class="pi pi-book"></i>
          Patents (soon)
        </span>
        <span class="external-pill">
          <i class="pi pi-file"></i>
          Scholarly papers (soon)
        </span>
        <span class="external-pill">
          <i class="pi pi-filter"></i>
          Blended filters & counts
        </span>
        <span class="external-pill">
          <i class="pi pi-ban"></i>
          Toggle off for NIST-only
        </span>
      </div>
      <div class="external-info__actions">
        <button
          pButton
          type="button"
          label="Got it"
          class="external-info__cta"
          (click)="closeExternalInfo()"
        ></button>
      </div>
    </div>
  </p-dialog>

  <p-overlayPanel #op1 [dismissable]="true" [showCloseIcon]="false">
    <div class="p-grid">
      <div
        class="p-col"
        *ngFor="let field of fields"
        (click)="appendToSearchBox(field.value, '=', op1)"
      >
        <div>{{ field.label }} - {{ field.value }}</div>
      </div>
    </div>
  </p-overlayPanel>

  <p-overlayPanel #op2 [dismissable]="false" [showCloseIcon]="true">
    <div class="p-grid">
      <div class="p-col-6">
        <button
          pButton
          type="button"
          label="AND"
          (click)="appendToSearchBox(' AND ', null, op2)"
        ></button>
      </div>
      <div class="p-col-6">
        <button
          pButton
          type="button"
          label="OR"
          (click)="appendToSearchBox(' OR ', null, op2)"
        ></button>
      </div>
    </div>
    <div class="p-grid">
      <div
        class="p-col"
        *ngFor="let field of fields"
        (click)="addKeyValuePairToSearchBox($event, field.value, op2, op4)"
      >
        <div>{{ field.value }}</div>
        <div>{{ field.label }}</div>
      </div>
    </div>
  </p-overlayPanel>

  <p-overlayPanel #op4 [dismissable]="false" [showCloseIcon]="true">
    <div class="p-grid">
      <div class="p-col-12">
        <span class="inner-addon">
          <input
            pInputText
            type="text"
            class="overlay-input"
            #field
            placeholder="Please enter a value here"
            (keyup.enter)="processInputValue($event.target.value, op4)"
            style="background-color: rgb(252, 246, 237)"
          />
          <i
            class="pi pi-times clear-box2"
            (click)="field.value = ''"
            data-toggle="tooltip"
            title="Clear the search box"
          ></i>
        </span>
        <button
          pButton
          type="button"
          label="Set"
          (click)="processInputValue(field.value, op4)"
        ></button>
        <div style="font-style: italic; font-size: 12px; padding-top: 0.2em">
          Example:
          <span class="link-text" (click)="field.value = getExample()">{{
            getExample()
          }}</span>
        </div>
        <div *ngIf="inputValueMissing" style="color: red">
          A value is required.
        </div>
      </div>
    </div>
  </p-overlayPanel>

  <p-overlayPanel #op5 [dismissable]="true" [showCloseIcon]="false">
    <div class="p-grid">
      <div class="p-col-12">
        <span class="inner-addon">
          <input
            pInputText
            type="text"
            class="overlay-input"
            #field2
            placeholder="Please enter unique query name"
            (keyup.enter)="saveAdvQuery($event.target.value, op5)"
            style="background-color: rgb(252, 246, 237)"
          />
          <i
            class="pi pi-times clear-box2"
            (click)="field2.value = ''"
            data-toggle="tooltip"
            title="Clear the search box"
          ></i>
        </span>
        <button
          pButton
          type="button"
          label="Save Query"
          (click)="saveAdvQuery(field2.value, op5)"
        ></button>
      </div>
    </div>
  </p-overlayPanel>
</div>
