<!-- Use absolute position for breadcrumb so it won't affect other elements' layout
     We have onWindowResize() to dynamically adjust breadcrumb location -->
<div style="position: absolute; right: 1em; " [ngStyle]="{'margin-top': breadcrumb_top}">
    <ol class="breadcrumb" style="float: right;">
        <li class="breadcrumb-item"><a href='/' style="color: #fff;"
                (click)="gaService.gaTrackPageview('/', 'homepage')">Home</a></li>
        <li id='title' class="active breadcrumb-item">Advanced Search Builder</li>
    </ol>
</div>
<app-search-panel title='Advanced Search Builder' [subtitle]='false' [helpicon]='true' [advanceLink]='false'
    jumbotronHeight='27vh' jumbotronPadding='2em 2em 0em 2em'></app-search-panel>

<div class="ui-fluid" style="background-color: #EFEFEF">
    <div class="ui-g ">
        <p-confirmDialog key="queryDelete"></p-confirmDialog>
        <div class="ui-g-12 ui-md-3 ui-lg-3 collapse1 in width" id="left-panel">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 95%;">Queries</th>
                        <th scope="col" style="width: 5%;">Act</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="searchEntities.length == 0">No query found</tr>
                    <tr id="query-list1" *ngFor="let searchEntity of searchEntities; index as i"
                        [class.active]="searchEntity.data.queryName == selectedRow"
                        (click)="setCurrentQuery(searchEntity.data.queryName)">
                        <th scope="row" (click)="showQuery(searchEntity.data.queryName)">
                            <a href="javascript:void(0);" style="margin-left: .5em;">{{searchEntity.data.queryName}}</a>
                        </th>
                        <td>
                            <div class="dropdown">
                                <button class="dropbtn" name="dropdownButton" [disabled]="editQuery || addQuery"
                                    data-toggle="tooltip" title="Actions" (mouseover)='showDropdown=true;'>...</button>
                                <div class="dropdown-content" *ngIf='showDropdown'
                                    [ngStyle]="{'margin-left':screenWidth > 640? '2em' : '-10em'}">
                                    <a href="javascript:void(0);"
                                        (click)="showQuery(searchEntity.data.queryName); showDropdown=false;">View</a>
                                    <a href="javascript:void(0);"
                                        (click)="editQuery=true;addQuery=false;showAdvSearch(searchEntity.data.queryName); showDropdown=false;">Edit</a>
                                    <a href="javascript:void(0);"
                                        (click)="executeQuery(searchEntity.data.queryValue); showDropdown=false;">Execute</a>
                                    <a href="javascript:void(0);"
                                        (click)="dupQuery(searchEntity); showDropdown=false;">Duplicate</a>
                                    <a href="javascript:void(0);"
                                        (click)="deleteConfirmQuery(searchEntity.data.queryName); showDropdown=false;">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div class="ui-g-12 ui-md-12" style="text-align: center;">
                    <div class="file-io btn btn-sm btn-primary"
                        [ngStyle]="{'opacity': editQuery || addQuery? '.65' : '1', 'cursor': editQuery||addQuery? 'default' : 'pointer'}">
                        <label for="file"
                            [ngStyle]="{'cursor': editQuery||addQuery? 'default' : 'pointer'}">Import</label>
                        <input type="file" id="file" (change)="importList($event)" [disabled]="editQuery || addQuery">
                    </div>
                    <button type="button" class="file-io btn btn-sm btn-primary" (click)='exportList()'
                        [disabled]="editQuery || addQuery">
                        Export
                    </button>
                </div>
            </div>
        </div>

        <div [className]="resultsClass" style="background-color:white">
            <div class="ui-g-12 ui-md-12" style="display: flex;vertical-align: middle;">
                <label for="queryName" style="white-space: nowrap;">Query Name</label>

                <input class="query-name" type="text" id="queryName" [(ngModel)]="queryName" (focus)="setReadyEdit()"
                    (keydown)="setMode($event.target.value)" (keyup)="onKeyup($event, 'queryName')" />

                <button class="btn add-query-button" (click)="$event.preventDefault();createQueryInit()"
                    [disabled]="editQuery || addQuery" data-toggle="tooltip" title="Add Query">
                    <i class="faa faa-plus-circle faa-2x"></i>
                </button>
            </div>
            <div *ngIf="queryNameValidateError" style="color:red;padding-left: 1em;">{{queryNameValidateErrorMsg}}</div>

            <div class="ui-g-12 ui-md-12 search-builder-background">
                <p-dataTable [value]="rows" emptyMessage="No entry found" [style]="{'border':'.5px solid #e6e6e6'}">
                    <p-column field="data.queryName" header="Operator" [style]="{'width':'15%','font-weight':'700'}">
                        <ng-template let-row="rowData" let-i="rowIndex" pTemplate type="body">
                            <p-dropdown [dropdownIcon]="caretDown" *ngIf="i != 0"
                                [style]="{'width':'100%','background-color': '#FFFFFF','height': '30px','font-weight': '400','font-style': 'italic','border':'.5px solid #e6e6e6'}"
                                [options]="operators" [(ngModel)]="row.column1" (onChange)="onDropdownChange($event)">
                            </p-dropdown>
                        </ng-template>
                    </p-column>
                    <p-column field="data.queryName" header="Field Text" [style]="{'width':'35%','font-weight':'700'}">
                        <ng-template let-row="rowData" pTemplate type="body">
                            <input type="text" class="text-input field-name" [(ngModel)]="row.column2"
                                placeholder="Fields text..." (focus)="setReadyEdit()"
                                (keydown)="setMode($event.target.value)" (keyup)="onKeyup($event, 'searchValue')" />
                        </ng-template>
                    </p-column>
                    <p-column field="data.queryName" header="Field Type" [style]="{'width':'35%','font-weight':'700'}">
                        <ng-template let-row="rowData" pTemplate type="body">
                            <p-dropdown [dropdownIcon]="caretDown" [options]="fields"
                                [style]="{'width':'100%','background-color': '#FFFFFF','height': '30px','font-weight': '400','font-style': 'italic','border':'.5px solid #e6e6e6','vertical-align':'bottom'}"
                                [(ngModel)]="row.column3" (onChange)="onDropdownChange($event)">
                            </p-dropdown>
                        </ng-template>
                    </p-column>

                    <p-column header="Actions" styleClass="col-button" [style]="{'width':'15%','font-weight':'700'}">
                        <ng-template let-rowIndex="rowIndex" let-row="rowData" pTemplate="body">
                            <button type="button" class="buttonSize" pButton (click)="deleteRow(rowIndex)"
                                icon="ui-icon-delete" data-toggle="tooltip" title="Delete Row"
                                [disabled]="rows.length <= 1">
                                <i class="faa faa-trash"></i>
                            </button>
                            <button type="button" class="buttonSize" pButton (click)="copyRow(row)"
                                icon="ui-icon-content-copy" data-toggle="tooltip" title="Duplicate Row">
                                <i class="faa faa-copy"></i>
                            </button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
            <p-confirmDialog></p-confirmDialog>
            <div class="ui-g-12 search-builder-background">
                <div class="ui-g-12 ui-lg-8 ui-md-12 ui-sm-12" style="float:right;">
                    <button id="btn-cancel" type="button" (click)="cancelConfirm()" pButton type="submit"
                        [disabled]="(!editQuery && !addQuery)">
                        <i class="faa faa-remove faa-1x icon-white" style="color: #fff;"></i>
                        Cancel
                    </button>

                    <button id="btn-save" type="button" (click)="saveAdvSearchQuery(queryName)" pButton type="submit"
                        [disabled]="(!editQuery && !addQuery) || !dataChanged || queryNameValidateError">
                        <i class="faa faa-save faa-1x icon-white" style="color: #fff;"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
        <div style="height:150px;background-color: #fff"></div>
    </div>
</div>