<!-- Use absolute position for breadcrumb so it won't affect other elements' layout
     We have onWindowResize() to dynamically adjust breadcrumb location -->
<div style="position: absolute; right: 1em; " [ngStyle]="{'margin-top': breadcrumb_top}">
    <ol class="breadcrumb" style="float: right;">
        <li class="breadcrumb-item"><a href='/' style="color: #fff;"
                (click)="gaService.gaTrackPageview('/', 'homepage')">Home</a></li>
        <li id='title' class="active breadcrumb-item">Advanced Search Builder</li>
    </ol>
</div>
<app-search-panel title='Advanced Search Builder' [subtitle]='false' [helpicon]='true' [advanceLink]='false'
    jumbotronHeight='27vh' jumbotronPadding='2em 2em 0em 2em'></app-search-panel>

<div class="ui-fluid" style="background-color: #EFEFEF">
    <div class="ui-g ">
        <p-confirmDialog key="queryDelete"></p-confirmDialog>
        <div class="ui-g-12 ui-md-3 ui-lg-3 collapse1 in width" id="left-panel">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 95%;">Queries</th>
                        <th scope="col" style="width: 5%;">Act</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="queries == null || queries?.length == 0">
                        <td colspan="2">
                            No query found
                        </td>
                    </tr>
                    <tr id="query-list1" *ngFor="let query of queries; index as i"
                        [class.active]="i == currentQueryIndex">
                        <th scope="row" (click)="displayQuery(i)" *ngIf="!editQuery && !addQuery">
                            <a href="javascript:void(0);" style="margin-left: .5em;">{{query.queryName}}</a>
                        </th>
                        <th scope="row" *ngIf="editQuery || addQuery">
                            <span style="margin-left: .5em; color: darkgray;">{{query.queryName}}</span>
                        </th>
                        <td>
                            <div class="dropdown">
                                <button class="dropbtn" name="dropdownButton" [disabled]="editQuery || addQuery"
                                    data-toggle="tooltip" title="Actions" (mouseover)='showDropdown=true;' (click)='showDropdown=true;'>...</button>
                                <div class="dropdown-content" *ngIf='showDropdown'
                                    [ngStyle]="{'margin-left':screenWidth > 640? '2em' : '-10em'}">
                                    <a href="javascript:void(0);"
                                        (click)="displayQuery(i); showDropdown=false;">View
                                        <i class="faa faa-eye" style="float: right;"></i>
                                    </a>
                                    <a href="javascript:void(0);"
                                        (click)="editQuery=true;addQuery=false;setCurrentQuery(i); showDropdown=false;">Edit
                                        <i class="faa faa-pencil" style="float: right;"></i>
                                    </a>
                                    <a href="javascript:void(0);"
                                        (click)="executeQuery(query); showDropdown=false;">Execute
                                        <i class="faa faa-play" style="float: right;"></i>
                                    </a>
                                    <a href="javascript:void(0);"
                                        (click)="dupQuery(i); showDropdown=false;">Duplicate
                                        <i class="faa faa-copy" style="float: right;"></i>
                                    </a>
                                    <a href="javascript:void(0);"
                                        (click)="deleteConfirmQuery(query.queryName); showDropdown=false;">Delete
                                        <i class="faa faa-trash" style="float: right;"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div class="ui-g-12 ui-md-12" style="text-align: center;">
                    <div class="file-io btn btn-sm btn-primary"
                        [ngStyle]="{'opacity': editQuery || addQuery? '.65' : '1', 'cursor': editQuery||addQuery? 'default' : 'pointer'}">
                        <label for="file"
                            [ngStyle]="{'cursor': editQuery||addQuery? 'default' : 'pointer'}">Import</label>
                        <input type="file" id="file" (change)="importList($event)" [disabled]="editQuery || addQuery">
                    </div>
                    <button type="button" class="file-io btn btn-sm btn-primary" (click)='exportList()'
                        [disabled]="editQuery || addQuery || queries == null || queries?.length == 0">
                        Export
                    </button>
                </div>
            </div>
        </div>

        <div [className]="resultsClass" style="background-color:white">
            <!-- Query name -->
            <div class="ui-g-12 ui-md-12" style="display: flex;vertical-align: middle;">
                <label for="queryName" style="white-space: nowrap;">Query Name</label>

                <input class="query-name" type="text" id="queryName" [(ngModel)]="currentQuery.queryName"
                    (focus)="setReadyEdit()" (keydown)="setMode()"
                    (keyup)="onKeyup($event, 'queryName')" />

                <button class="btn add-query-button" (click)="$event.preventDefault();createQueryInit()"
                    [disabled]="editQuery || addQuery" data-toggle="tooltip" title="Add Query">
                    <i class="faa faa-plus-circle faa-2x"></i>
                </button>
            </div>
            <div *ngIf="queryNameValidateError" style="color:red;padding-left: 1em;">{{queryNameValidateErrorMsg}}</div>

            <!-- free text input -->
            <label for="freeText" style="white-space: nowrap; margin-left: .2em;">Free Text Search:</label>

            <input class="query-name" type="text" id="freeText" [(ngModel)]="currentQuery.freeText"
                (focus)="setReadyEdit()" (keydown)="setMode()"
                (keyup)="onKeyup($event, 'freeText')" />

            <div style="margin: 0 0 .5em 9em;"><b>Examples: </b> 
                <span class="link-text" (click)="addExample('&quot;Kinetics database&quot;')">"Kinetics database"</span>
                <span class="link-text" style="padding-left: .5em;" (click)="addExample('Gallium')">Gallium</span>
                </div>

            <!-- query rows -->
            <table class="table table-striped table-bordered">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col" style="width: 15%;">Operator</th>
                        <th scope="col" style="width: 35%;">Field Name</th>
                        <th scope="col" style="width: 35%;">Field Value</th>
                        <th scope="col" style="width: 15%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="currentQuery.queryRows.length == 0">
                        <td colspan="4">
                            No detail found
                        </td>
                    </tr>
                    <tr *ngFor="let queryRow of currentQuery.queryRows; index as rowIndex">
                        <td *ngIf="rowIndex > 0">
                            <select class="browser-default custom-select" [(ngModel)]="queryRow.operator"
                                (change)="onDataChange()">
                                <option *ngFor="let operator of operators;">{{operator.label}}</option>
                            </select>
                        </td>
                        <td *ngIf="rowIndex == 0" style="vertical-align: middle;">
                            <span style="margin-left:.8em;padding-bottom: -2em;font-size:16px;">AND</span>
                        </td>
                        <td>
                            <select class="browser-default custom-select italic" [(ngModel)]="queryRow.fieldType"
                                (change)="onFieldTypeChange(queryRow)">
                                <option hidden value="" disabled selected>Select Field Name</option>
                                <option *ngFor="let field of fields;" data-toggle="tooltip" title="{{field.value}}">{{field.label}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="text-input field-text" [ngClass]="{'field-text-grey': queryRow.validated, 'field-text-red':!queryRow.validated }" [(ngModel)]="queryRow.fieldText"
                                placeholder="Field text is required..." (focus)="setReadyEdit()"
                                (keydown)="setMode()" (keyup)="onKeyup($event, 'searchValue', queryRow)" />
                        </td>

                        <td>
                            <div style="text-align: center;height: 2.5em;">
                                <button type="button" class="btn-row-act" pButton (click)="deleteRow(rowIndex)"
                                    icon="ui-icon-delete" data-toggle="tooltip" title="Delete Row"
                                    [disabled]="currentQuery.queryRows.length <= 1">
                                    <i class="faa faa-trash"></i>
                                </button>
                                <button type="button" class="btn-row-act" pButton (click)="duplicateRow(queryRow, rowIndex)"
                                    icon="ui-icon-content-copy" data-toggle="tooltip" title="Duplicate Row">
                                    <i class="faa faa-copy"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="ui-g-12 search-builder-background">
                <div class="ui-g-12 ui-lg-8 ui-md-12 ui-sm-12" style="float:right;">
                    <button id="btn-cancel" type="button" (click)="cancelConfirm()" pButton type="submit"
                        [disabled]="(!editQuery && !addQuery)">
                        <i class="faa faa-remove faa-1x icon-white" style="color: #fff;"></i>
                        Cancel
                    </button>

                    <button id="btn-save" type="button" (click)="saveAdvSearchQuery()" pButton type="submit"
                        [disabled]="(!editQuery && !addQuery) || !currentQuery.queryName || !dataChanged || queryNameValidateError || rowInputValidateError">
                        <i class="faa faa-save faa-1x icon-white" style="color: #fff;"></i>
                        Save
                    </button>

                    <button id="btn-execute" type="button" (click)="$event.preventDefault();executeQuery(currentQuery)" pButton type="submit"
                        [disabled]="editQuery || addQuery || queries == null || queries?.length == 0 || rowInputValidateError">
                        <i class="faa faa-play faa-1x icon-white" style="color: #fff;"></i>
                        Execute
                    </button>
                </div>
            </div>
        </div>
        <div style="height:150px;background-color: #fff"></div>
    </div>
</div>