<style id="antiClickjack">
  body {
    display: none !important;
  }
</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>

<div class="ui-g" style="background-color: #153971;color: #FFFFFF">
  <div class="ui-g-2">
  </div>
  <div class="ui-g-10">
    <div class="EmptyBox20"></div>
    <label id='title' style="font-size: xx-large;float: left;display: block;"><i
        class="faa faa-cogs faa-lg"></i>Advanced Search Builder</label>
    <ol class="breadcrumb" style="float: right;">
      <li class="breadcrumb-item"><a href="#" style="color: #fff;">Home</a></li>
      <li class="active breadcrumb-item">Advanced Search Builder</li>
    </ol>
    <div class="EmptyBox20"></div>
  </div>
</div>
<div class="ui-fluid" style="background-color: #EFEFEF">
  <div class="ui-g ">
    <div class="ui-g-12">
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-lg-2 ui-md-1">
        </div>
        <div class="ui-g-12 ui-md-4" style="padding-right: 0px;padding-left: 0px;padding-bottom: 0px">
          <label for="advsearchinput" class="hideLabel">Search Input</label>
          <div class="inner-addon left-addon " style="background-color: #FFFFFF">
            <i class="glyphicon faa faa-search"></i>
            <p-autoComplete [inputStyle]="{'width': '100%','padding-left':'40px','height': '42px','font-weight': '400',
        'font-style': 'italic'}" (onFocus)="clearText()" (onBlur)="addPlaceholder()" [placeholder]="placeholder"
              [(ngModel)]="searchValue" inputId="advsearchinput"
              (keyup.enter)="search(searchValue,searchTaxonomyKey,queryAdvSearch)" [suggestions]="suggestedTaxonomyList"
              (completeMethod)="filterTaxonomies($event)" [minLength]="1" [maxlength]="2048" [size]="50">
            </p-autoComplete>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-2 ui-md-4" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px">
          <p-dropdown [options]="taxonomies" inputId="searchtaxonomy" [style]="{'width':'100%',
        'background-color': '#FFFFFF','height': '42px'
        ,'font-weight': '900','font-style': 'italic','display': 'flex','align-items':'center'}"
            [(ngModel)]="searchTaxonomyKey">
          </p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-1" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px">
          <button class="searchButton" (click)="search(searchValue,searchTaxonomyKey,'yes')" pButton label="Search"
            type="submit"></button> </div>
        <div class="ui-g-12 ui-md-2 how-to-build">
          &nbsp;&nbsp;<a href="#!" class="how-to-build-link" [routerLink]="['/help/how-advanced-search']"
            target="_blank">How to build Advanced Search Queries</a>
        </div>

      </div>
      <div class="ui-g-12 ui-md-2">
      </div>
      <div class="ui-g-12 ui-md-6">
        <b> Examples: </b>
        <a class="examples" (click)="$event.preventDefault();searchExample('&quot;Kinetics database&quot;');"
          href="#!">"Kinetics database" </a>
        &nbsp;
        <a class="examples" (click)="$event.preventDefault();searchExample('Gallium');" href="#!">Gallium </a>&nbsp;
        <a class="examples" (click)="$event.preventDefault();searchExample('&quot;SRD 101&quot;');" href="#!">"SRD 101"
        </a>&nbsp;
        <a class="examples" (click)="$event.preventDefault();searchExample('XPDB');" href="#!">XPDB </a>&nbsp;
        <a class="examples" (click)="$event.preventDefault();searchExample('Interatomic Potentials');"
          href="#!">Interatomic Potentials
        </a>&nbsp;
      </div>
    </div>
    <p-confirmDialog key="queryDelete"></p-confirmDialog>
    <div class="ui-g-12 ui-md-3 ui-lg-3 collapse1 in width" id="demo"
      style="background-color: #F8F9F9;padding-left: 5px;">
      <div style="padding: 0px;">
        <div class="ui-g-12 ui-md-12"
          style="background-color: #0872B9;border-bottom:.5px solid #e6e6e6;width: 100%;padding: .625em;box-shadow: inset -2px 0 16px -9px rgba(0, 0, 0, 0.5);">

          <a style="color: #FFFFFF;font-weight: 900;text-decoration:none;">Queries </a> <a class="btn-sm collapse1 in"
            (click)="setResultsWidth()" data-toggle="collapse"
            style="border-color: #025277; color: #FFF;padding: 0em;border: 0em" data-target="#demo"></a>

          <a href="#" *ngIf="!editQuery && !addQuery"
            style="float: right;padding-right: 2em;vertical-align: middle;color: #FFFFFF"
            (click)="$event.preventDefault();createQueryInit()">
            <i style="vertical-align: middle;zoom: 80%" class="material-icons"> add
            </i>Create Query</a>

          <span *ngIf="editQuery || addQuery" style="float: right;padding-right: 2em; color:darkgray">
            <i style="vertical-align: middle;zoom: 80%" class="material-icons"> add
            </i>Create Query
          </span>
        </div>
        <div class="ui-g-12 ui-md-12">
          <p-dataTable [value]="searchEntities" [style]="{'border':'.5px solid #e6e6e6'}" emptyMessage="No entry found">
            <p-column field="data.queryName"
              [style]="{'word-wrap': 'break-word','width':'30%','font-weight':'700','border':'.5px solid #e6e6e6'}"
              header="Name">
              <ng-template let-row="rowData" pTemplate type="body">
                <button type="button" class="btn btn-link" [disabled]="editQuery || addQuery"
                  (click)="editQuery=false;addQuery=false;showAdvSearch(row.data.queryName)">{{row.data.queryName}}</button>
              </ng-template>
            </p-column>
            <p-column header="Actions" [style]="{'width':'25%','font-weight':'700'}" styleClass="col-button">
              <ng-template let-row="rowData" pTemplate="body">
                <button type="button" class="buttonSize" pButton (click)="deleteConfirmQuery(row.data.queryName)"
                  icon="ui-icon-delete" [disabled]="editQuery || addQuery" data-toggle="tooltip" title="Delete Query">
                  <i class="faa faa-trash"></i></button>
                <button type="button" class="buttonSize" pButton
                  (click)="copyQuery(row.data.queryName,row.data.queryValue);" icon="ui-icon-content-copy"
                  [disabled]="editQuery || addQuery" data-toggle="tooltip" title="Duplicate Query">
                  <i class="faa faa-copy"></i>
                </button>
                <button type="button" pButton class="buttonSize"
                  (click)="editQuery=true;addQuery=false;showAdvSearch(row.data.queryName)" icon="ui-icon-edit"
                  [disabled]="editQuery || addQuery" data-toggle="tooltip" title="Edit Query">
                  <i class="faa faa-pencil"></i>
                </button>
                <button type="button" pButton class="buttonSize" icon="ui-icon-circle"
                  [disabled]="editQuery || addQuery" (click)="executeQuery(row.data.queryValue)" data-toggle="tooltip"
                  title="Execute Query"><i class="faa faa-play"></i></button>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
        <div class="ui-g-12 ui-md-12" style="display:flex;justify-content:center;">
          <div style="width:30%;margin: 1em">
            <label *ngIf="editQuery || addQuery" class="_buttonSize ui-button ui-button-text ui-corner-all ui-widget"
              style="font-weight:normal;line-height:1.5em;height:2em;background-color:rgb(185, 210, 227); cursor: default;">
              <input type="file" id="fileInput" label="Import" (change)="importList($event)" disabled
                style="cursor: default;" />
              <i style="vertical-align: middle;zoom: 80%" class="material-icons" label="Import"> import_export</i>
              Import
            </label>
            <label *ngIf="!editQuery && !addQuery" class="_buttonSize ui-button ui-button-text ui-corner-all ui-widget"
              style="font-weight:normal;line-height:1.5em;height:2em;" disabled>
              <input type="file" id="fileInput" label="Import" (change)="importList($event)" />
              <i style="vertical-align: middle;zoom: 80%" class="material-icons" label="Import"> import_export</i>
              Import
            </label>
          </div>

          <div style="width:30%;margin: 1em">
            <button type="button" pButton class="_buttonSize" *ngIf="searchEntities.length == 0" (click)="exportList()"
              [disabled]="editQuery || addQuery" style="font-weight:normal;line-height:1.5em;height:2em;" label=" "><i
                style="vertical-align: middle;zoom: 80%" class="material-icons"> import_export
              </i>Export</button>

            <button type="button" pButton class="_buttonSize" *ngIf="searchEntities.length > 0" (click)="exportList()"
              style="font-weight:normal;line-height:1.5em;height:2em;" label=" " [disabled]="editQuery || addQuery"><i
                style="vertical-align: middle;zoom: 80%" class="material-icons"> import_export </i> Export</button>
          </div>
        </div>
      </div>
    </div>

    <div [className]="resultsClass" style="background-color:white">
      <div class="ui-g-12 ui-md-12" style="display: flex;vertical-align: middle;">
        <label for="queryName">Query Name : </label>

        <input *ngIf="addQuery || editQuery" class="text-input" type="text" id="queryName"
          style="width: 50%;border:.5px solid #e6e6e6;background-color: #FFFFFF;height: 25px;font-weight: 400;vertical-align:middle;margin-left:1em"
          [(ngModel)]="queryName" (keydown)="onKeydown($event)" />
        <div style="float:left;padding-left:1em;" *ngIf="!editQuery && !addQuery">{{this.queryName}}</div>
        <span *ngIf="queryNameReq" style="color:red;padding-left: 1em;">* Field is required</span>
        <span *ngIf="duplicateQuery" style="color:red;padding-left: 1em;">Query name already exists</span>
      </div>
      <div class="ui-g-12 ui-md-12 search-builder-background">
        <p-dataTable [value]="rows" emptyMessage="No entry found" [style]="{'border':'.5px solid #e6e6e6'}">
          <p-column field="data.queryName" header="Operator" [style]="{'width':'15%','font-weight':'700'}">
            <ng-template let-row="rowData" let-i="rowIndex" pTemplate type="body">
              <p-dropdown [dropdownIcon]="caretDown" *ngIf="i != 0" (click)="saveSearch()"
                [style]="{'width':'100%','background-color': '#FFFFFF','height': '30px','font-weight': '400','font-style': 'italic','border':'.5px solid #e6e6e6'}"
                [options]="operators" [(ngModel)]="row.column1" [disabled]="!editQuery && !addQuery">
              </p-dropdown>
            </ng-template>
          </p-column>
          <p-column field="data.queryName" header="Field Text" [style]="{'width':'35%','font-weight':'700'}">
            <ng-template let-row="rowData" pTemplate type="body">
              <input type="text" id="fieldstext" class="text-input" style="width: 100%; font-style: italic"
                [(ngModel)]="row.column2" (keyup)="saveSearch()" placeholder="Fields text..."
                [disabled]="!editQuery && !addQuery" (keydown)="onKeydown($event)" />
            </ng-template>
          </p-column>
          <p-column field="data.queryName" header="Field Type" [style]="{'width':'35%','font-weight':'700'}">
            <ng-template let-row="rowData" pTemplate type="body">
              <p-dropdown [dropdownIcon]="caretDown" [options]="fields"
                [style]="{'width':'100%','background-color': '#FFFFFF','height': '30px','font-weight': '400','font-style': 'italic','border':'.5px solid #e6e6e6','vertical-align':'bottom'}"
                [(ngModel)]="row.column3" (click)="saveSearch()" [disabled]="!editQuery && !addQuery">
              </p-dropdown>
            </ng-template>
          </p-column>

          <p-column header="Actions" styleClass="col-button" [style]="{'width':'15%','font-weight':'700'}">
            <ng-template let-rowIndex="rowIndex" let-row="rowData" pTemplate="body">
              <button type="button" class="buttonSize" pButton (click)="deleteRow(rowIndex)" icon="ui-icon-delete"
                [disabled]="!editQuery && !addQuery" data-toggle="tooltip" title="Delete Row">
                <i class="faa faa-trash"></i>
              </button>
              <button type="button" class="buttonSize" pButton (click)="copyRow(row)" icon="ui-icon-content-copy"
                [disabled]="!editQuery && !addQuery" data-toggle="tooltip" title="Duplicate Row">
                <i class="faa faa-copy"></i>
              </button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
      <p-confirmDialog></p-confirmDialog>
      <div class="ui-g-12 search-builder-background">
        <div class="ui-g-12 ui-md-6 ui-sm-6"></div>
        <div class="ui-g-12 ui-md-6 ui-sm-6">
          <div class="ui-g-12 ui-lg-4 ui-md-3 ui-sm-12" style="float:right;">
            <button (click)="cancelConfirm()" *ngIf="!editQuery && !addQuery" disabled pButton label="Cancel"
              type="submit" icon="ui-icon-cancel" style="height:2em;border:none;background-color:gray"></button>
            <button (click)="cancelConfirm()" *ngIf="rows.length>0 && (editQuery || addQuery)" pButton label="Cancel"
              type="submit" icon="ui-icon-cancel" style="height:2em;border:none;background-color: gray"></button>
          </div>
          <div class="ui-g-12 ui-lg-4 ui-md-3 ui-sm-12" style="float:right;">
            <button (click)="saveQuery(queryName)" *ngIf="!editQuery && !addQuery" disabled pButton label="Save"
              type="submit" icon="ui-icon-save" style="height:2em;border:none;background-color: green"></button>
            <button (click)="saveQuery(queryName)" *ngIf="rows.length>0 && (editQuery || addQuery)" pButton label="Save"
              type="submit" icon="ui-icon-save" style="height:2em;border:none;background-color: green"></button>
          </div>
        </div>
      </div>
      <div style="height:150px;background-color: #fff"></div>
    </div>
  </div>
</div>