<style id="antiClickjack">
  body {
    display: none !important;
  }
</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>

<script async type="text/javascript" id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOC&subagency=NIST&pua=UA-66610693-14&yt=true&exts=ppsx,pps,f90,sch,rtf,wrl,txz,m1v,xlsm,msi,xsd,f,tif,eps,mpg,xml,pl,xlt,c"></script>
<div class="layout-wrapper" [ngClass]="{'layout-compact':layoutCompact}" (click)="onLayoutClick()">

  <div #layoutContainer class="layout-container"
       [ngClass]="{'menu-layout-static': !isOverlay(),
            'menu-layout-overlay': isOverlay(),
            'layout-menu-overlay-active': overlayMenuActive,
            'menu-layout-horizontal': isHorizontal(),
            'menu-layout-slim': isSlim(),
            'layout-menu-static-inactive': staticMenuDesktopInactive,
            'layout-menu-static-active': staticMenuMobileActive}">

    <router-outlet name="route1"></router-outlet>

    <div class="layout-menu" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
      <div #layoutMenuScroller class="nano">
        <div class="nano-content menu-scroll-content">
          <inline-profile *ngIf="profileMode=='inline'&&!isHorizontal()"></inline-profile>
          <app-menu [reset]="resetMenu"></app-menu>
        </div>
      </div>
    </div>

    <div class="layout-main">
      <p-dialog header="Save Query" [(visible)]="displayQueryList" modal="modal" [responsive]="true" [width]="550" [minWidth]="200">
        <p-dataTable [value]="searchEntities" [loading]="loading">
          <p-column field="data.queryName" header="name">
            <ng-template let-row="rowData" pTemplate type="body">
              <a routerLink="/search?q={{row.data.queryValue}}&key=&queryAdvSearch=" target="_parent">{{row.data.queryName}}</a>
            </ng-template>
          </p-column>
          <p-column field="data.queryValue" header="content"></p-column>
          <p-column header="Actions" styleClass="col-button">
            <ng-template let-file="rowData" pTemplate="body">
              <button type="button" style="width:70%" pButton (click)="removeItem(file)" label="Delete" icon="ui-icon-delete"></button>
            </ng-template>
           </p-column>
        </p-dataTable>
      </p-dialog>
      <router-outlet></router-outlet>
      <sdp-footbar></sdp-footbar>
    </div>

    <div class="layout-mask"></div>
  </div>

</div>
