.header {
    display: flex;
    justify-content: center;
    background-color: #153971;
    color: #FFFFFF;
}

#cd-button-one {
    width:200px;
    height:2em;
    vertical-align: middle;
    background-color: green;
    color: white;
}

#cd-button-two {
    width:200px;
    height:2em;
    vertical-align: middle;
    background-color: grey;
    color: white;
    margin-left: .5em;
}