<p-dialog header="Title" [(visible)]="display">

<div >
        <div style="padding-left: 1%">
          <!--
          <p-dataTable [value]="cartEntities"  [(selection)]="selectedData" [loading]="showSpinner" [paginator]="true" [rows]="5" [headerCheckboxToggleAllPages]="true">
            <p-header>Data Cart</p-header>
            <p-column [style]="{'width':'10px'}" selectionMode="multiple"></p-column>
            <p-column [style]="{'width':'200px','word-wrap': 'break-word'}"  field="data.fileName" header="File Name"></p-column>
            <p-column [style]="{'width':'100px','word-wrap': 'break-word'}"  field="data.fileSize" header="Size"></p-column>
            <p-column [style]="{'width':'200px','word-wrap': 'break-word'}"  field="data.fileFormat" header="Format"></p-column>
            <p-column [hidden] = "true" field="data.downloadURL" header="downloadURL"></p-column>
            <p-column [hidden] = "true" field="data.filePath" header="filePath"></p-column>
            <p-column [hidden] = "true" field="data.resTitle" header="resTitle"></p-column>
            <p-column [hidden] = "true" field="data.resId" header="resId"></p-column>
          </p-dataTable>
          -->

          <p-treeTable selectionMode="checkbox" [value]="dataFiles" [loading]="showSpinner" [(selection)]="selectedData" [style]="{'margin-top':'50px'}">
            <p-header>Data cart</p-header>

            <p-column styleClass="col-button">
              <ng-template let-file="rowData" pTemplate="body">
                  <button type="button" *ngIf = "file.data.downloadedStatus === true" pButton icon="faa faa-check"></button>
              </ng-template>
            </p-column>

            <p-column field="resTitle" header="Name"></p-column>
            <p-column field="size" header="Size"></p-column>
            <p-column header="Actions" styleClass="col-button">
              <ng-template let-file="rowData" #download pTemplate="body">
                <button type="button" *ngIf = "file.data.resTitle.indexOf('.') > 0" pButton (click)="updateCartEntries(file,false)" label="Clear Item Status" icon="faa faa-times"></button>
                <button type="button" pButton *ngIf = "file.data.resTitle.indexOf('.') > 0" (click)="removeItem(file)" label="Delete" icon="faa faa-trash"></button>
              </ng-template>
            </p-column>
          </p-treeTable>
          <div *ngIf="showSpinner === true" style="left: 50%">
            <p-progressSpinner [style]="{width: '50px', height: '50px',left: '50%'}" ></p-progressSpinner>
        </div>
      </div>
    <div class="ui-g">
      <div class="ui-g-2 ui-md-2" style="padding-left: 1%">
        <button type="button" style="width: 100%;height: 42px;font-weight: 400;font-style: italic;
          font-size: 18px;border-radius: 0px" (click)="downloadZIP()" pButton label="Download Zip" type="submit" ></button>
      </div>
      <div class="ui-g-2 ui-md-2" >
        <button type="button" style="width: 100%;height: 42px;font-weight: 400;font-style: italic;
          font-size: 18px;border-radius: 0px" (click)="removeByDataId()" pButton label="Remove" type="submit" ></button>
      </div>
      <div class="ui-g-2 ui-md-2" >
        <button type="button" style="width: 100%;height: 42px;font-weight: 400;font-style: italic;
          font-size: 18px;border-radius: 0px" (click)="clearDownloadStatus()" pButton label="Clear Download Status" type="submit" ></button>
      </div>
      <div class="ui-g-2 ui-md-2" >
        <button type="button" style="width: 100%;height: 42px;font-weight: 400;font-style: italic;
          font-size: 18px;border-radius: 0px" (click)="removeByDownloadStatus()" pButton label="Delete downloaded" type="submit" ></button>
      </div>
    </div>
  </div>
</p-dialog>
