<div class="ui-grid ui-grid-responsive ui-grid-pad center">
  <div class="card">
    <label style="font-size: x-large;text-align: center;display: block;">About NIST Data</label>
    <div class="EmptyBox20"></div>
    <p  >
      The corpus of data developed and distributed at the National Institute of Standards and Technology spans across multiple disciplines of research and demonstrates excellence in metrology.   In accordance with U.S. Government Open Data Policy and the <a href="https://www.nist.gov/open" target="_blank" >NIST Plan</a> for providing public access to the results of federally funded research data, the NIST Science Data Portal provides a discovery and exploration tool for publically available datasets at NIST.
      Data sources include <a href="https://www.nist.gov/srd" target="_blank"> Standard Reference Data</a>, Data publications and free standing data made available through the NIST Public Dataset List (<a href="https://www.nist.gov/sites/default/files/data.json" target="_blank">json</a>) enterprise data inventory, and key legacy datasets.
      Public datasets are assigned Digital Object Identifier (DOI) to increase the discovery and access to research output.   These DOIs are registered in <a href="https://www.datacite.org" target="_blank" > DataCite </a> and provide globally unique persistent identifiers. <br><br>
      <label style="text-align:center;display: block; "> ************************* </label> <br>
      This portal is designed and developed with data.gov Project Open Data standards and principles.  The portal software is hosted in the usnistgov github repository.
    </p>
  </div>
</div>
