<div
  [ngStyle]="{ width: mobWidth + 'px' }"
  style="margin-left: -0.5em; margin-right: -0.5em"
>
  <app-search-panel
    title=""
    [subtitle]="false"
    [helpicon]="false"
    [advanceLink]="true"
    jumbotronPadding="1em 1em 0em 1em"
  ></app-search-panel>

  <div
    #parentDiv
    style="background-color: white; color: black; align-content: center"
    [ngStyle]="{ display: getDisplayStyle() }"
  >
    <div
      class="filter"
      *ngIf="!hideFilters && !mobileMode"
      [@filterStatus]="filterToggler"
      [ngStyle]="{ width: filterWidthStr }"
      (window:resize)="onResize($event)"
    >
      <app-filters
        [searchValue]="searchValue"
        [searchTaxonomyKey]="searchTaxonomyKey"
        [parent]="parentDiv"
        [filterWidthNum]="filterWidth"
        [mobileMode]="mobileMode"
        (filterMode)="updateWidth($event)"
      ></app-filters>
    </div>

    <!-- Drag bar to resize the filter panel -->
    <div
      *ngIf="!mobileMode && !hideFilters"
      class="splitter"
      (mousedown)="onMousedown($event)"
      (mouseup)="onMouseUp($event)"
    >
      <div id="separator">||</div>
    </div>

  <div #results class="search-result" [ngStyle]="{ width: hideFilters ? '100%' : resultWidth, display: 'flex', 'justify-content': hideFilters ? 'center' : 'flex-start' }">
      <app-results
        [searchValue]="searchValue"
        [searchTaxonomyKey]="searchTaxonomyKey"
        [currentPage]="page"
        [mobWidth]="mobWidth"
        (zeroResults)="onZeroResults($event)"
        (zeroResultsMeta)="onZeroResultsMeta($event)"
        (errorState)="onErrorState($event)"
      ></app-results>
    </div>
  </div>

  <ng-container *ngIf="mobileMode && !hideFilters">
    <div
      class="mobile-filters-backdrop"
      *ngIf="mobileFiltersOpen"
      (click)="toggleMobileFilters()"
      role="presentation"
    ></div>
    <div
      class="mobile-filters-drawer"
      [class.open]="mobileFiltersOpen"
      [attr.aria-hidden]="!mobileFiltersOpen"
      id="mobileFiltersDrawer"
      role="dialog"
      aria-label="Filters"
    >
      <div class="mobile-filters-header">
        <span>Filters</span>
        <button
          type="button"
          class="mobile-close-btn"
          (click)="toggleMobileFilters()"
          aria-label="Close filters"
        >
          Close
        </button>
      </div>
      <div class="mobile-filters-content">
        <app-filters
          [searchValue]="searchValue"
          [searchTaxonomyKey]="searchTaxonomyKey"
          [parent]="parentDiv"
          [filterWidthNum]="filterWidth"
          [mobileMode]="mobileMode"
          (filterMode)="updateWidth($event)"
        ></app-filters>
      </div>
    </div>
  </ng-container>

  <div class="mobile-bottom-bar" *ngIf="mobileMode">
    <div class="mobile-actions">
      <button
        type="button"
        class="mobile-filter-toggle"
        (click)="toggleMobileFilters()"
        [disabled]="hideFilters"
        [attr.aria-expanded]="mobileFiltersOpen"
        aria-controls="mobileFiltersDrawer"
      >
        Filters
        <span
          class="mobile-filter-count"
          *ngIf="activeFilterCount > 0"
          [attr.aria-label]="activeFilterCount + ' active filters'"
        >
          ({{ activeFilterCount }})
        </span>
      </button>
      <button
        type="button"
        class="mobile-clear-toggle"
        *ngIf="!hideFilters && activeFilterCount > 0"
        (click)="clearAllFilters()"
        aria-label="Clear all filters"
      >
        Clear All
      </button>
    </div>
    <div class="mobile-pagination">
      <button
        type="button"
        class="mobile-page-btn"
        (click)="goToPreviousPage()"
        [disabled]="!canGoPrevious()"
        aria-label="Previous page"
      >
        Prev
      </button>
      <span class="mobile-page-indicator">
        {{ totalPages > 0 ? page : 0 }} / {{ totalPages > 0 ? totalPages : 0 }}
      </span>
      <button
        type="button"
        class="mobile-page-btn"
        (click)="goToNextPage()"
        [disabled]="!canGoNext()"
        aria-label="Next page"
      >
        Next
      </button>
    </div>
  </div>
</div>
