.search-result {
    display: inline-block;
    vertical-align: top;
    /* padding-bottom: 100%;
    margin-bottom: -100%; */
    /* margin-left: 20px; */
    /* height: auto; */
}

.filter {
    display: inline-block; 
    vertical-align: top;
    /* padding-bottom: 100%;
    margin-bottom: -100%; 
    margin-left: -20px;
    margin-right: -20px; */
}

html {
    scroll-behavior: smooth;
}