.search-result {
    /* Make the results column stretch to available width in flex layout */
    display: flex;
    flex: 1 1 auto;
    min-width: 0; /* prevent flex item from overflowing and allow 100% children to grow */
    vertical-align: top;
}

.filter {
    display: inline-block;
    vertical-align: top;
}

html {
    scroll-behavior: smooth;
}

.splitter {
    width: 20px;
    font-size:x-large;
    cursor: col-resize;
    background-color: var(--background-light-grey);
}

#separator {
    margin: 8px 1px 0px 1px;
    color: var(--science-theme-background-dark);
    font-size: 20px;
    text-align: center;
}
