<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body class="GrayModena Geometry">

  <style>

      .ui-datatable table tbody tr td, .ui-datatable table tbody td, .ui-datatable table tbody tr {
          font-size: 12px;
          padding:0px;
      }

      .ui-datatable table tbody td {
           padding: 0px 0px 0px 0px;
      }

      #layout-topbar {
          position: relative;
      }

  </style>

  <sdp-app>

      <div style="height:100%;text-align:center">
          <div style="padding-top:200px"> <!-- Put SDP logo here -->
              <!--<img src="libs/modena-1.0.2/theme/images/logo-dark.svg" style="height:50px;"/>-->
          </div>

          <div style="margin-top:25px">
              <img src="libs/modena-1.0.2/layout/images/loader.gif" />
          </div>
      </div>




  </sdp-app>

    <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
      <script src="<%= APP_BASE %>app/system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at https://github.com/mgechev/angular2-seed/issues');
    });
  </script>
  <% } %>



</body>
</html>
