/* topic.component.css */

.topic-card {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease;
}

.topic-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.topic-icon {
  height: 100%;
}

.topic-content {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  position: relative;
}

.description {
  color: white;
  padding: 10px;
  transition: opacity 0.5s ease;
  margin-top: 40px; /* Reserve space for the button */
}

.flex.align-items-center.justify-content-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: inherit;
}

.curated-collection-icon {
  filter: invert(1) brightness(0) contrast(1);
  height: 20px;
  margin-right: 8px;
}

.card-container {
  position: relative; /* Ensure the card container is the reference for absolute positioning */
}

.subheader {
  position: absolute;
  top: 15px;
  left: 1em;
  z-index: 1; /* Ensure it stays above other elements if necessary */
}

.curated-collection-button:hover .curated-collection-label {
  text-decoration: underline;
}
.anchor-button {
  text-decoration: none; /* Remove underline */
  margin-right: 10px;
}
