<div class="container1">
    <div class="topbar"></div>
    <div class="title" [ngStyle]="{ 'background-image': 'linear-gradient(to bottom, rgba(0, 0, 0, 0.82), rgba(160, 160, 160, 0)),url(' + image + ')', 'font-size':titleFontSize}" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">{{title}}<img src="{{icon}}" alt="A Curated Collection"
        *ngIf="showIcon" ngbTooltip="A Curated Collection"></div>
    <!-- <img src="/assets/images/Theme_InformationTechnology.png" alt="Avatar" class="image"> -->
    <div class="description" [ngStyle]="{'font-size': descFontSize, 'opacity': descOpacity, 'line-height': descLineHeight}" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">{{description}}</div>
</div>
