
<!--<div class="ui-grid ui-grid-responsive ui-grid-pad center">-->
  <div class="card" style="padding: 0 2.5rem 2.5rem 2.5rem">
    <div class="ui-g" style="background-color:#F3F3F3; padding: 2.5rem 2.5rem 2.5rem 2.5rem">
    <div class="ui-g-8 ui-md-8 ui-lg-8 ui-sm-10">
        <span class="textstyle1 fDetailsfFont">
         <span *ngIf="fileDetails['downloadURL']"> File </span>    
         <span *ngIf="!fileDetails['downloadURL']"> Subcollection</span>     
        </span>   
        <h4>{{ fileDetails["title"]}}</h4>
        <br><span class="font10">Path: <b>{{fileDetails["filepath"]}}</b></span>
        <span *ngIf="fileDetails['downloadURL']" class="font8"> <br>Type:<b>{{fileDetails["mediaType"]}}</b></span>
        <span *ngIf="fileDetails['downloadURL']" class="font8"><br>Size:</span>
    </div>
    <div class="ui-g-1 ui-md-1 ui-lg-1 ui-sm-10"></div>
    <div class="ui-g-3 ui-md-3 ui-lg-3 ui-sm-10">
        <button pButton class="ui-button-success" type="button" (click)="download()" label="Dowload"></button>
    </div>
    
        <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
            <span class="font10"><b>Description:</b> </span>
            <div class="well filedesc" >
                {{ fileDetails["description"] }}
            </div>  
            
            <span class="font10"><b>Topic Keyword:</b></span>
            <br>
            <span class="font10"><b>Collection Metadata:</b></span>
        </div>    
    </div>
  </div>
  <!--</div>-->