<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
  } else {
    top.location = self.location;
  }
</script>
<div *ngFor="let record of searchResults"> 
    <div class="ui-g" style="padding-bottom: 1%">
         <div class="ui-g-1 ui-md-1 ui-lg-1 ui-sm-10"></div>
          <div class="ui-g-9 ui-md-9 ui-lg-9 ui-sm-10">
            <span style="font-family: Arial, Helvetica, sans-serif; color: grey; font-size: 14;" [ngSwitch]="record['@type'][0]">
                <b *ngSwitchCase="'nrd:SRD'">Standard Reference Data</b>
                <b *ngSwitchCase="'nrdp:DataPublication'">Data Publication</b>
                <b *ngSwitchCase="'nrdp:PublicDataResource'">Public Data Resource</b>
                <b *ngSwitchDefault></b>
            </span>              
             <br><span class="title" style="text-align: left; vertical-align: middle; ">
                <h2>{{record.title}}</h2>
             </span>
   
             <div class="" *ngIf="record.authors">
                <span *ngFor="let author of record.authors; let i = index"> 
                    {{ author.fn}}<span *ngIf="i < record.authors.length-1 ">,</span>
                </span>
                <i style="cursor: pointer;" class ="faa" [ngClass]="{'faa-plus-square-o': !clickAuthors, 'faa-minus-square-o': clickAuthors}" aria-hidden="true" (click)="isCollapsedContent = !isCollapsedContent; clickAuthors = expandClick();"></i>
            </div>
             <div [collapse]="!isCollapsedContent" class="card card-block card-header">
                    <div class="" *ngIf="record.authors">
                        <span><b>Authors:</b></span>
                        <div *ngFor="let author of record.authors; let i = index"> 
                            <span>{{ author.fn}}</span>,
                             <span *ngFor="let aff of author.affiliation">
                                 <br>{{aff.title}}
                            </span>
                        </div>
                    </div>
                </div>
             <br><!-- Contact point section-->
             <div class="" *ngIf="record.contactPoint">
                Contact: <strong>  <a *ngIf="isEmail" href="{{record.contactPoint.hasEmail}}" target="_top">{{record.contactPoint.fn}}</a>
                            <span *ngIf="!isEmail">{{record.contactPoint.fn}}</span>
                        </strong>..
                <i style="cursor: pointer;" class="faa" [ngClass]="{'faa-plus-square-o': !clickContact, 'faa-minus-square-o': clickContact}"aria-hidden="true" (click)="closeContent = !closeContent; clickContact=expandContact();"></i>
                <div [collapse]="!closeContent" class="card card-block card-header">
                     <span class="" *ngIf="record.contactPoint.fn">
                         <a *ngIf="isEmail" href="{{record.contactPoint.hasEmail}}" target="_top">{{record.contactPoint.fn}}</a>
                        <span *ngIf="!isEmail">{{record.contactPoint.fn}}</span>
                    </span>
                    <br><strong>Email:</strong>
                    <span class="" *ngIf="isEmail">{{record.contactPoint.hasEmail}}</span>
                    <div class="" *ngIf="record.contactPoint.address">
                        <span><b>Address:</b></span>
                        <div *ngFor="let address of record.contactPoint.address"> 
                            {{address}}
                        </div>
                    </div>
                </div>
            </div>
             
            Identifier: 
                <span *ngIf="isDOI" ><i>  <a href="javascript:window.location.reload(true)">{{record.doi}}</a></i></span> 
                <span  *ngIf="!isDOI"><i> <a href="javascript:window.location.reload(true)">{{record["@id"]}}</a></i> </span>
         <br><span>Described in article: </span>
            <span *ngIf="record.references">
                <small *ngFor="let refs of record.references; let i =index"> 
                    <br><a href={{refs.location}} target="blank" *ngIf="refs.refType == 'IsDocumentedBy'">{{ refs.label }}</a> 
                    <span *ngIf="i < record.references.length-1 ">,</span>
                </small>
            </span><br> 
            <span class="" *ngIf="record.issued">  First Released: <strong>{{record.issued}}</strong></span>
            <span class="" *ngIf="record.modified"> Last modified: <strong>{{record.modified}}</strong></span>
         
         </div>
         <div class="ui-g-2 ui-md-2 ui-lg-2 ui-sm-10">
             <p-menu  class="rightMenuStyle" [model]="rightmenu"></p-menu>  
         </div>
    </div>
  
    <div class="ui-g" style="padding-top: 0%">
        
        <div class="ui-g-10 ui-md-10 ui-lg-10 ui-sm-10">
        
        <!--<div *ngIf="similarResources">
            <similar-resources [similarResourcesResults]="similarResourcesResults" [qcriteria]="qcriteria"></similar-resources>
        </div>-->
        <!--Metadata -->
        <div *ngIf="metadata != true && similarResources != true ">
             <description-resources [record]="record" [files]="files" ></description-resources>
        </div>
        <div *ngIf="metadata == true && similarResources != true ">
            <metadata-detail [searchResults]="searchResults" ></metadata-detail>
        </div>
        </div>
        <div class="ui-g-2 ui-md-2 ui-lg-2 ui-sm-10">
            <div ng2-sticky><p-menu class="leftMenuStyle" [model]="leftmenu" ></p-menu> </div>
        </div>
        <!--<div   class="ui-g-2 ui-md-2 ui-lg-2 ui-sm-10">
            <br>
            <p-menu  class="rightMenuStyle" [model]="rightmenu"></p-menu>            
        </div>-->
        <p-dialog header="Citation" [(visible)]="display" modal="modal" width="300" responsive="true">
              Copy the recommended text to cite this resource: <br>
              <span style="font-family:  Franklin Gothic Urw; font-style:italic; color:#484646; font-size: 12;">
                   {{ citeString }}
              </span>     
        </p-dialog>
        <!--<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
             <filedetails-resources [fileDetails]="fileDetails"></filedetails-resources>
        </p-overlayPanel>-->
        
    </div>
</div>
<!---->