
.style-horizontal {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.background-white
{
  background-color:#ffffff;
}

.white
{
  color:#ffffff;
}

.title
{
  color:#1471AE;
  font-size: 20px;
}

:host /deep/ .ui-tree {
  padding: 0.625em 1em/2;
  font-weight:bold;
  font-size: x-large;
}


:host /deep/ .ui-treenode-label{
  font-style: italic;
  color: #1471AE;
  
}
:host /deep/ .ui-treenode{
 background-color:#ffffff;
 } 


:host /deep/ .ui-tree .ui-treenode-children{
 background-color:#ffffff;
}


/*:host /deep/ .ui-tree .ui-tree-container {
  background-color: #f399f3;
  width: 250px;
}*/



/*:host /deep/ .ui-menuitem{
  font-style: italic;

}*/

/*:host /deep/ .ui-menu{
  background-color: #004e8e;
}*/

/*:host /deep/ .rightMenuStyle >.ui-menu  {
  font-style: italic;
  background-color: #e1dcdc;
}*/

:host /deep/ .rightMenuStyle > .ui-menu  .ui-menu-list li.ui-widget-header{
    background-color: #B8D4E6;
    padding: 2%; 
    padding-left: 5%;
    /*font-family: 'sans-serif'; */
    font-family: 'Roboto'; 
    font-weight: bold;
}

:host /deep/ .leftMenuStyle > .ui-menu  .ui-menu-list li.ui-widget-header{
    background-color: #B4B0B0;
    font-weight: bold;
    /*font-family: 'Franklin Gothic Urw Cond';*/
    font-family: 'Roboto'; 
    padding: 2%; 
    padding-left: 5%;
}
:host /deep/ .leftMenuStyle > .ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link{
  line-height: 0;
  min-height: 1.5em;
  /*font-family: 'Franklin Gothic Urw Cond';*/
   font-family: 'Roboto'; 
  background-color: #e8e7e7;
  word-wrap: break-word;
  /*padding: 5%; */
}

:host /deep/ .leftMenuStyle > .ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link:hover {
          background-color: #ffffff;
          color: #000000; }

:host /deep/ .rightMenuStyle > .ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link{
  line-height: 0;
   min-height: 0;
   padding: 2px; 
    font-family: 'Roboto'; 
    padding-left: 5%;
   /*font-family: 'Franklin Gothic Medium';*/
   /*font-style: italic; font-size: 10pt;*/
   
}
:host /deep/ .rightMenuStyle > .ui-menu .ui-menu-list li.ui-menuitem{
  background-color:#E7F0F6;
   font-family: 'sans-serif'; 
   word-wrap: break-word;
}

:host /deep/ .ui-button-success {
  padding:0;
  line-height: 0;
   min-height: 0;
}


 :host /deep/ .ui-fieldset {
 padding: 0.625em 1em;
 border: 1px solid grey;
 /*padding-bottom: .10em;*/
}

:host /deep/ .ui-fieldset .ui-fieldset-legend {
   /*padding: 0.625em 1em;*/
    /*padding-left: .125em;
    padding-right: .5em;*/
    border-bottom: none;
    width: inherit; 
    padding: 0 0;
    color: #1471AE;
    font-size:10pt;
    line-height: 0;
    min-height: 0;
    height: 0;
    word-wrap: break-word;
}
    

/*:host /deep/ .ui-fieldset-content
{
    color: grey;
    font-size:10pt;
    padding-left: .125em;
    padding-right: .5em;
    
}*/

:host /deep/ .ui-fieldset-legend .ui-corner-all .ui-state-default .ui-unselectable-text{

 line-height: 0;
   min-height: 0;
   height: 0;
}


:host /deep/ .ui-fieldset .ui-fieldset-legend .ui-fieldset-toggler {
      padding: 0;
      height: 1em;
      width: 1em;
      background-color: #1471AE;
      color: #ffffff;
      font-size: 1em;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -moz-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
      margin-right: .1em;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); 
  }


/** Metadata and Fiel details related styles **/
.textstyle1
{
  font-family: Arial, Helvetica, sans-serif; 
  color: grey; 
  font-size: 12;
}

.fDetailsfFont{
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 12;
}

.font8{
  font-size:8pt;
  word-wrap: break-word;
}
.font10{
  font-size:10pt;
   word-wrap: break-word;
}

.filedesc{
  background-color:green;
   text-align: left; 
   color: white; 
   word-wrap: break-word; 
}

 /*:host /deep/ .ui-fieldset-toggler .fa .fa-w .fa-minus{

line-height: 0;
  }*/


  /*:host /deep/ .ui-fieldset {
  padding: 0.625em 1em;
   }
  :host /deep/ .ui-fieldset .ui-fieldset-legend {
    padding: 0.625em 1em;
    padding-left: .125em;
    padding-right: .5em;
    color: #1471AE; }
    :host /deep/ .ui-fieldset .ui-fieldset-legend .ui-fieldset-toggler {
      padding: .5em;
      height: 2em;
      width: 2em;
      background-color: #1471AE;
      color: #ffffff;
      font-size: 1.5em;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -moz-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
      margin-right: .5em;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }
      :host /deep/ .ui-fieldset .ui-fieldset-legend .ui-fieldset-toggler:hover {
        background-color: #283593; }
    :host /deep/ .ui-fieldset .ui-fieldset-legend.ui-state-focus {
      background-color: transparent; }*/
/*.customfieldset {
    border: 2px groove threedface;
    border-top: none;
    padding: 0.5em;
    margin: 1em 2px;
}
.customfieldset > h1 {
    font: 1em normal;
    margin: -1em -0.5em 0;
}   
.customfieldset > h1 > span {
    float: left;
}
    .customfieldset > h1:before {
        border-top: 2px groove threedface;
        content: ' ';
        float: left;
        margin: 0.5em 2px 0 -1px;
        width: 0.75em;
    }
    .customfieldset > h1:after {
        border-top: 2px groove threedface;
        content: ' ';
        display: block;
        height: 1.5em;
        left: 2px;
        margin: 0 1px 0 0;
        overflow: hidden;
        position: relative;
        top: 0.5em;
    }    */