
.style-horizontal {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.background-white
{
  background-color:#ffffff;
}

.white
{
  color:#ffffff;
}

.title
{
  color:#1471AE;
  font-size: 20px;
}

:host /deep/ .ui-treenode-label{
  font-style: italic;
  color: #1471AE;
}


:host /deep/ .ui-menuitem{
  font-style: italic;

}

/*:host /deep/ .ui-menu{
  background-color: #004e8e;
}*/

:host /deep/ .rightMenuStyle >.ui-menu {
  font-style: italic;
  
  background-color: #e1dcdc;
}

